{% extends 'templates/lmsbase.html' %} {% block title %} Loan Against Shares
Eligibility & Interest Rate | spark.loans {% endblock title %} {% block
description %} We offer loans on equity shares online through our app. We are
India’s first platform dedicated towards loans against equity shares and other
securities. {% endblock description %} {% block keywords %}Loan Against Shares,
Loan on Shares, Loan Against Equity Shares, Loan Against Shares Eligibility,
Loan Against Shares Interest Rates, Loan on Equity Shares, Loan Against Demat
Shares {% endblock keywords %} {% block body %}<br />
<br />
<br />
<br />
<br />
<br />
<section class="fw">
  <div class="container" style="background-color: #ebeffb">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <h1 class="bann">Loan Against Shares</h1>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <!--<div class="col titlesec maintitle">-->
        <img
          src="../assets/lms/images/Loan-against-shares.jpeg"
          alt="Loan against Shares"
          width="100%"
        />
        <!-- </div>-->
      </div>
    </div>
  </div>
</section>

<!--<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5 style="margin-bottom: 0px;">Loan Against Shares</h5>
      </div>
    </div>
  </div>
</section>-->
<div class="container">
  <section
    class="fw proBox proBox2"
    style="padding-top: 25px !important; padding-bottom: 20px !important"
  >
    <div class="fw about-text" style="margin: 0 20px 0 20px">
      <h1 class="h1cls">Avail Easy Loan Against Shares With spark.loans</h1>
      <br />
      <div class="about-textInn">
        <p>
          Leverage the value of your investments and raise quick funds through
          <strong>loans against shares</strong> with spark.loans. We are India’s
          first mobile application dedicated towards digital
          <strong>loans against equity shares</strong> and other securities.
        </p>
        <p>
          As mentioned above, We offer digital
          <strong>loans on equity shares</strong> online through our app. You
          can pledge your shares and avail an overdraft credit line at
          affordable interest rate Interest is charged only on the amount
          utilised by you.
        </p>
      </div>
    </div>
  </section>
</div>
<br />
<br />
<div class="container">
  <section
    class="fw proBox proBox2"
    style="padding-top: 25px !important; padding-bottom: 20px !important"
  >
    <div class="container pr">
      <!--<div class="container container2 pr">-->
      <div class="row dx_jcsbalctr">
        <div class="modal-content" style="border: none">
          <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="../images/close-bt.png"> </button>-->
          <div class="modal-body schemesContent">
            <!--<div class=" d-flex justify-content-between">
                 <div class="Schemeslogo "> <img src="../images/home/partners/choice.svg" width="120" > </div>
      </div>-->
            <div class="schemestab">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="Loan-tab"
                    data-toggle="tab"
                    href="#features"
                    role="tab"
                    aria-controls="Loan"
                    aria-selected="true"
                  >
                    <span class="amt">Features</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="Loan2-tab"
                    data-toggle="tab"
                    href="#process"
                    role="tab"
                    aria-controls="Loan2"
                    aria-selected="false"
                  >
                    <span class="amt">Process</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="Loan3-tab"
                    data-toggle="tab"
                    href="#fees"
                    role="tab"
                    aria-controls="Loan2"
                    aria-selected="false"
                  >
                    <span class="amt">Fees and Charges</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="Loan4-tab"
                    data-toggle="tab"
                    href="#docs"
                    role="tab"
                    aria-controls="Loan2"
                    aria-selected="false"
                  >
                    <span class="amt">Eligibility and Documents</span>
                  </a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="features"
                  role="tabpanel"
                  aria-labelledby="Loan-tab"
                >
                  <div class="fw about-text" style="margin: 0 20px 0 20px">
                    <h2 class="h2cls">
                      Features and Benefits of LAS service -
                    </h2>
                    <ol>
                      <li>
                        An end-to-end digital solution to Loan Against
                        Securities (LAS)
                      </li>
                      <li>Interest is charged only on the amount you use</li>
                      <li>Hassle free loan management</li>
                      <li>Speedy pledge/ unpledge process</li>
                      <li>Withdraw and repay within a few clicks</li>
                      <li>Sell collateral from the app itself, if required</li>
                      <li>In-built robust risk-management system</li>
                      <li>Turn-around-time of 24 hours</li>
                    </ol>
                    <div>
                      <a
                        href="javascript:void(0);"
                        class="applybtn"
                        data-toggle="modal"
                        data-target="#apply-now-pop"
                        ><span>Apply Now</span><span>&nbsp;</span></a
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="process"
                  role="tabpanel"
                  aria-labelledby="Loan2-tab"
                >
                  <div class="fw about-text" style="margin: 0 20px 0 20px">
                    <div class="about-textInn">
                      <p>
                        Availing <strong>loans against shares</strong> is easy
                        with spark.loans. We provide an end-to-end digital
                        experience to make your loan availing process simple and
                        100% digital! Get instant
                        <strong>loans against DEMAT shares</strong> in a 5 step
                        process.
                      </p>
                      <br />
                      <h2 class="h2cls">
                        Step-by-Step Process of Application For Loan On Shares
                      </h2>

                      <ol>
                        <li>Register and verify your mobile number</li>
                        <li>Verify your KYC details</li>
                        <li>Select securities to pledge</li>
                        <li>Pledge securities and verify through OTP</li>
                        <li>
                          Accept Terms & Conditions and e-sign the application
                        </li>
                      </ol>
                      <div>
                        <a
                          href="javascript:void(0);"
                          class="applybtn"
                          data-toggle="modal"
                          data-target="#apply-now-pop"
                          ><span>Apply Now</span><span>&nbsp;</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="fees"
                  role="tabpanel"
                  aria-labelledby="Loan2-tab"
                >
                  <div class="fw about-text" style="margin: 0 20px 0 20px">
                    <div class="about-textInn">
                      <p>
                        Get
                        <strong
                          >loans against shares at affordable interest
                          rates</strong
                        >
                        with spark.loans. Our processes are transparent with no
                        hidden fees involved. Pay only on the amount you utilize
                        with flexible payment options and no pre-closure penalty
                        fees.
                      </p>
                      <br />
                      <div class="row">
                        <div class="col-md-3 col-xs-12">
                          <p style="padding-top: 10px">
                            <strong>Select Lending Partner</strong>
                          </p>
                        </div>
                        {% set lenders = frappe.get_all("Lender", fields=["*"],
                        order_by="creation") %}
                        <div class="col-md-3 col-xs-12">
                          <div class="form_group">
                            <select id="lenders" onChange="updateData()">
                              {% for lender in lenders %}
                              <option value="{{lender.name}}">
                                {{lender.name}}
                              </option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                      <h2 class="h2cls">
                        Loan against shares interest rate/Fee charges per
                        service
                      </h2>
                      <div id="lender_data_html"></div>

                      <div style="overflow-x: auto">
                        <table class="">
                          <tbody>
                            <tr>
                              <td colspan="4">
                                <p><strong>LOAN AGAINST SHARES</strong></p>
                              </td>
                            </tr>
                            <tr>
                              <td width="">
                                <p><strong>Drawing Power</strong></p>
                              </td>
                              <td width="">
                                <p><strong>Interest Payment period</strong></p>
                              </td>
                              <td width="">
                                <p><strong>Rebate</strong></p>
                              </td>
                              <td width="">
                                <p><strong>Effective Monthly Rate</strong></p>
                              </td>
                            </tr>
                          </tbody>
                          <tbody id="update_interest_html"></tbody>
                          <tbody>
                            <tr>
                              <td colspan="4" width="">
                                <p id="update_penal_html"></p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div style="margin-top: 10px">
                        <a
                          href="javascript:void(0);"
                          class="applybtn"
                          data-toggle="modal"
                          data-target="#apply-now-pop"
                          ><span>Apply Now</span><span>&nbsp;</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="docs"
                  role="tabpanel"
                  aria-labelledby="Loan2-tab"
                >
                  <div class="fw about-text" style="margin: 0 20px 0 20px">
                    <div class="about-textInn">
                      <p>
                        You need to fulfill the following
                        <strong>eligibility for loan against shares</strong>.
                        Getting a
                        <strong> loan against equity shares</strong> is fairly
                        easy once you have the following documents and proofs
                        ready.
                      </p>
                      <br />
                      <h2 class="h2cls">
                        Loan Against Shares Eligibility Criteria
                      </h2>

                      <ol>
                        <li>Indian Resident or NRI</li>
                        <li>Above 18 years of age</li>
                        <li>Must have a DEMAT account</li>
                      </ol>

                      <h2 class="h2cls">Documents to be kept handy</h2>
                      <ol>
                        <li>PAN Card</li>
                        <li>
                          Aadhaar Card (For E sign)
                          <p>
                            (Esign OTP will be sent on mobile number linked with
                            aadhaar)
                          </p>
                        </li>
                      </ol>
                      <div>
                        <a
                          href="javascript:void(0);"
                          class="applybtn"
                          data-toggle="modal"
                          data-target="#apply-now-pop"
                          ><span>Apply Now</span><span>&nbsp;</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </section> -->
    </div>
    <!-- The Modal -->
    <!-- <p>
    <a
      href="javascript:void(0);"
      class="applybtn"
      data-toggle="modal"
      data-target="#apply-now-pop"
      ><span>Apply Now</span><span>&nbsp;</span></a
    >
  </p> -->

    <!-- schemes Modal-->
    <div
      class="modal modalright fade"
      id="schemes"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document"></div>
    </div>
  </section>
</div>
{% include 'templates/appdownload.html' %}
<script>
  function updateData() {
    var select = document.getElementById("lenders");
    var option = select.options[select.selectedIndex];
    lender_name = option.value;
    loadData(lender_name);
    // alert(option.value);
  }
  function loadData(lender_name = "") {
    $.ajax({
      url: "/api/method/lms.www.loan_against_shares.fetch_interest_config",
      type: "GET",
      data: {
        lender_name: lender_name,
      },
      dataType: "json",
      success: function (res) {
        var update_lender = "";
        var update_interest = "";
        var update_penal = "";
        $.each(res.data.lender_data, function (index, val) {
          var processing_fees = "";
          var documentation_fees = "";
          var stamp_duty = "";
          if (val.lender_processing_fees_type == "Fix") {
            processing_fees = "Rs. " + val.lender_processing_fees + "/-";
          } else {
            processing_fees = val.lender_processing_fees + "%";
          }
          if (val.documentation_charge_type == "Fix") {
            documentation_fees = "Rs. " + val.documentation_charges + "/-";
          } else {
            documentation_fees = val.documentation_charges + "%";
          }
          if (val.stamp_duty_type == "Fix") {
            stamp_duty = "Rs. " + val.stamp_duty + "/-";
          } else {
            stamp_duty = val.stamp_duty + "%";
          }
          update_lender +=
            "<ol>" +
            "<li> Processing Fee: " +
            processing_fees +
            " (Waived off until 30 September, 2021) </li>" +
            "<li> Documentation charges: " +
            documentation_fees +
            " (Waived off until 30 September, 2021)</li>" +
            "<li> Stamp duty charges: " +
            stamp_duty +
            " (Waived off until 30 September, 2021)</li>" +
            "<li>Foreclosure Fee- Nil</li> <li>Interest rates (As per table below)</li></ol>";
        });
        $("#lender_data_html").html(update_lender);
        $.each(res.data.interest_config, function (index, val) {
          update_interest +=
            "<tr>" +
            '<td width="">&nbsp;</td>' +
            '<td  width="">' +
            "<p>Within 7 days</p>" +
            "</td>" +
            '<td width="">' +
            "<p>" +
            val.rebait_interest +
            "%</p>" +
            "</td>" +
            '<td width = "" >' +
            "<p>" +
            val.base_interest +
            "%</p>" +
            "</td >" +
            "</tr >" +
            "<tr>" +
            '<td width="">' +
            "<p><strong>Upto " +
            val.to_amount_str +
            "</strong></p>" +
            "</td>" +
            '<td width="">' +
            "<p>After 7 days</p>" +
            "</td>" +
            '<td width="">' +
            "<p>Nil</p>" +
            "</td>" +
            '<td width="">' +
            "<p>" +
            val.sum_interest +
            "%</p>" +
            "</td>" +
            "</tr>";
        });
        $("#update_interest_html").html(update_interest);
        $.each(res.data.lender_data, function (index, val) {
          update_penal +=
            "<strong>Penal Interest rate / Penal Charges&nbsp; : </strong>In case of occurrence of Event of Default (EOD), Penal Interest shall be charged <strong>upto " +
            val.default_interest +
            "% per month </strong>over and above applicable Interest Rate.";
        });
        $("#update_penal_html").html(update_penal);
      },
    });
  }
  updateData();
</script>

{% endblock %} {% block script %}
<script>
  $(function () {
    $("#switch-id").change(function () {
      if ($(this).is(":checked")) {
        $(".applyemail").show();
        $(".applymobile").hide();
      } else {
        $(".applyemail").hide();
        $(".applymobile").show();
      }
    });
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
