{% extends 'templates/lmsbase.html' %}
{% block title %}Check Eligibility Criteria and Documentation for Loan Against Shares at spark.loans{% endblock title %}
{% block description %}loan Against Shares Eligibility - Check out the eligibility criteria and documentation for Loan Against Shares at spark.loans. Know more about charges & other requirements for applying Loan Against Shares. {% endblock description %}
{% block keywords %}loan Against Shares Eligibility,  loan against equity shares, eligibility for loan against shares, loans on equity shares{% endblock keywords %}
{% block head %}
  <style>
    .about-textInn {
      margin: 0 20px 0 20px;
    }

    .about-text p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    table {
      border-collapse: collapse;
      width: 95% !important;
    }

    td,
    th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: center;
    }

    .about-text td>p {
      padding: 10px 0px 10px 0px;
    }

    .h1cls {
      font-size: 18px;
      font-weight: bold;
    }

    .h2cls {
      font-size: 17px;
      font-weight: bold;
      font-family: Gilroy_Regular;
      color: rgb(33, 37, 41);
    }

    .schemestab .nav-tabs .nav-item {
      width: unset;
    }

    li {
      font-family: 'Gilroy_Regular';
      font-size: 1.6rem;
      color: #333;
      line-height: 2.4rem;
      padding: 0px 0px 10px 0px;
    }

    ol {
      margin-right: 20px;
      margin-left: 20px;
    }

    .proBox {
      padding-top: 50px;
    }

    .btnapl {
      float: left;
      padding: 10px 20px;
      margin-left: 20px;
      font-family: "Gilroy_Bold";

      color: #1b2e6a;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .bann {
      top: 50%;
      position: absolute;
      margin-left: 50px;
      font-family: "Gilroy_Bold";
      font-size: 2.5rem;
      color: #1b2e6a;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (max-width: 566px) {
      .bann {
        top: 0%;
        position: unset;
        margin-left: 0;
        text-align: center;
      }
    }
  </style>
{% endblock head %} {% block body %}
  <br>
  <br> <br>
  <br> <br>
  <br>
  <section class="fw">
    <div class="container" style="background-color:#ebeffb;">
      <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6">
          <h1 class="bann">Eligibility Criteria and Documentation For Loan Against Shares</h1>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6">
          <!--<div class="col titlesec maintitle">-->
          <img src="../../assets/lms/images/Loan-against-shares.jpeg" alt="Loan against Shares" width="100%">
          <!-- </div>-->
        </div>
      </div>
    </div>
  </section>

  <!--<section class="fw">
    <div class="container">
      <div class="row">
        <div class="col titlesec maintitle">
          <h5 style="margin-bottom: 0px;">Loan Against Shares</h5>
        </div>
      </div>
    </div>
  </section>-->
  <div class="container">
    <section class="fw proBox proBox2" style="padding-top: 25px !important;padding-bottom: 20px !important; ">
      <div class="fw about-text" style="margin: 0 20px 0 20px;">
        <!--<h1 class="h1cls">Avail Easy Loan Against Shares With spark.loans</h1><br>-->
        <div class="about-textInn">
          <p>Leverage the value of your investments and raise quick funds through loans against shares
            with spark.loans. We are India’s first mobile application dedicated towards digital loans against equity
            shares and other securities. </p>
          <p>
            As mentioned above, We offer digital loans on equity shares online through our app. You can pledge your
            shares and avail an overdraft credit line at affordable interest rate Interest is charged only on the amount
            utilised by you.</p>
        </div>
      </div>
    </section>
  </div>
  <br>
  <br>
  <div class="container">
    <section class="fw proBox proBox2" style="padding-top: 25px !important;padding-bottom: 20px !important; ">
      <div class="container pr">

        <!--<div class="container container2 pr">-->
        <div class="row dx_jcsbalctr">
          <div class="modal-content" style="border: none;">
            <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="../../images/close-bt.png"> </button>-->
            <div class="modal-body schemesContent ">
              <!--<div class=" d-flex justify-content-between">
                   <div class="Schemeslogo "> <img src="../../images/home/partners/choice.svg" width="120" > </div>
        </div>-->
              <div class="schemestab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item"> <a class="nav-link " id="Loan-tab" href="../loan-against-shares" role="tab"
                      aria-controls="Loan" aria-selected="true"> <span class="amt">Features</span> </a> </li>
                  <li class="nav-item"> <a class="nav-link" id="Loan2-tab" href="process" role="tab"
                      aria-controls="Loan2" aria-selected="false"> <span class="amt">Process</span> </a> </li>
                  <li class="nav-item"> <a class="nav-link" id="Loan3-tab" href="fees-and-charges" role="tab"
                      aria-controls="Loan2" aria-selected="false"> <span class="amt">Fees and Charges</span> </a> </li>
                  <li class="nav-item"> <a class="nav-link active" id="Loan4-tab" data-toggle="tab" href="#docs"
                      role="tab" aria-controls="Loan2" aria-selected="false"> <span class="amt">Eligibility and
                        Documents</span>
                    </a> </li>



                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="docs" role="tabpanel" aria-labelledby="Loan2-tab">
                    <div class="fw about-text" style="margin: 0 20px 0 20px;">
                      <div class="about-textInn">
                        <p> You need to fulfill the following eligibility for loan against shares.
                          Getting a loan against equity shares is fairly easy once you have the
                          following documents and proofs ready.
                        </p>
                        <br />
                        <h2 class="h2cls">Loan Against Shares Eligibility Criteria</h2>

                        <ol>
                          <li>Indian Resident or NRI</li>
                          <li>Above 18 years of age</li>
                          <li>Must have a DEMAT account</li>
                        </ol>

                        <h2 class="h2cls">Documents to be kept handy</h2>
                        <ol>
                          <li>PAN Card</li>
                          <li>Aadhaar Card (For E sign)<p>(Esign OTP will be sent on mobile number linked with aadhaar)
                            </p>
                          </li>
                        </ol>
                        <div>
                          <a class="applybtn btnapl" href="javascript:void(0);" data-toggle="modal"
                            data-target="#apply-now-pop"><span>Apply
                              Now</span><span>&nbsp;</span></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
  {% include 'templates/appdownload.html' %}

  <!-- schemes Modal-->
  <div class="modal modalright fade" id="schemes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

    </div>
  </div>

  {% endblock %}
  {% block script %}
  <script>
    $(function () {
      $("#switch-id").change(function () {
        if ($(this).is(":checked")) {
          $(".applyemail").show();
          $(".applymobile").hide();
        } else {
          $(".applyemail").hide();
          $(".applymobile").show();
        }
      });
    });
  
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  {% endblock %}
  