<h3>Hello {{ doc.full_name or "" }},</h3>

<p>Thank you for joining Spark.loans.</p>

<p> Click <a href="{{ doc.url }}">here</a> to confirm that this is the correct email to reach you.</p>

<p> Tip: Add our email address to your contacts to make sure they are never lost or get marked as spam - <a>reception@spark.loans</a></p>

<p>Thanks,</p>
<p> The Spark Team </p>
