<section class="fw appdownload">
  <div class="container">
    <div class="row">
      <div class="fw appdownloadbg">
        <img
          src="/assets/lms/images/home/Download_App.svg"
          class="fw d-none d-sm-block"
        />
        <img
          src="/assets/lms/images/home/appdownload_02.jpg"
          class="fw d-block d-sm-none"
        />
        <div class="titlesec">
          <h5>Download App</h5>
          <p>We strongly believe that being the best is being unique.</p>
          <div class="fw apps">
            <a
              href="https://play.google.com/store/apps/details?id=com.sparktechnologies.sparkloans"
              target="__blank"
              ><img src="/assets/lms/images/home/play-store.svg" class="fw"
            /></a>
            <a
              href="https://apps.apple.com/in/app/spark-loans/id1551799259"
              target="_blank"
              ><img src="/assets/lms/images/home/app-store.svg" class="fw"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
