<footer class="fw">
  <div class="container">
    <div class="row">
      <div class="fw dx footerinside">
        <span class="bor">&nbsp;</span>
        <div class="col-4">
          <img src="/assets/lms/images/logo.svg" width="140" />
          <div class="desc">
            <p style="padding-bottom: 0px !important">
              <strong>Registered Office:</strong>
            </p>
            <p style="margin-top: 0px">
              Sunil Patodia Tower, <br />
              J.B. Nagar, Andheri (East), <br />
              Mumbai 400099.
            </p>
            <p style="padding-bottom: 0px !important">
              <strong>Corporate Office:</strong>
            </p>
            <p style="margin-top: 0px">
              Choice Finserv Private Limited, <br />
              Plot No. 25, Sunder Nagar, <br />
              Girdhar Marg Malviya Nagar, <br />
              Jaipur – 302017.
            </p>
          </div>
        </div>
        <div class="col dx_jcsb" id="footerlink">
          <ul>
            <li>
              <p class="mainlink">Quick Links</p>
            </li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/about-us#team">Team</a></li>
            <li><a href="/partner-with-us">Partner With Us</a></li>
            <li><a href="/help">Help / FAQs</a></li>
            <li><a href="/comingsoon">Career</a></li>
          </ul>
          <ul>
            <li>
              <p class="mainlink">Resources</p>
            </li>
            <li><a href="/comingsoon">Loan Tips</a></li>
            <li><a href="/news-and-blogs">News and Blogs</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-use">Terms of Use</a></li>
          </ul>
          <ul>
            <li>
              <p class="mainlink">Contact</p>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="fw copyright">
  <div class="container">
    <div class="row">
      <div class="fw dx footer_bottom">
        <div class="col" style="display: flex; justify-content: space-between">
          <p class="social">
            <a href="https://www.linkedin.com/company/74991731/" target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a href="https://www.instagram.com/spark.loans/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
            <a
              href="https://www.facebook.com/Spark-Loans-102197685496313/"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </p>
          <p>&copy; Spark Financial Technologies Private Limited 2021</p>
        </div>
      </div>
    </div>
  </div>
</div>
