<div class="fw mobnav">
  <div class="fw mobileheader dx_jcsbalctr">
    <a href="/" class="logo"
      ><img src="/assets/lms/images/logo.svg" height="30"
    /></a>
    <div class="right dx_jcsbalctr">
      <p>
        <a
          href="javascript:void(0);"
          class="applybtn"
          data-toggle="modal"
          data-target="#apply-now-pop"
          ><span>Apply Now</span><span>&nbsp;</span></a
        >
      </p>
      <div class="menuic">
        <span>&nbsp;</span> <span>&nbsp;</span> <span>&nbsp;</span>
        <span>&nbsp;</span>
      </div>
    </div>
  </div>
</div>

<header class="fw dx_ctr bg">
  <div class="container">
    <div class="row">
      <div class="col dx_jcsbalctr">
        <a href="/" class="logo"><img src="/assets/lms/images/logo.svg" /></a>
        <div class="menu">
          <a href="/products">Products</a>
          <a href="/comingsoon">Demo Videos</a>
          <a href="/comingsoon">Loan Calculator</a>
          <a href="/contact">Contact</a>
          <a
            href="javascript:void(0);"
            class="applybtn"
            data-toggle="modal"
            data-target="#apply-now-pop"
            ><span>Apply Now</span><span>&nbsp;</span></a
          >
        </div>
      </div>
    </div>
  </div>
</header>
