<table border="1" width="100%">
  <tr>
    <th>Name of Borrower :</th>
    <td colspan="4">{{doc.full_name}}</td>
  </tr>
  <tr>
    <th>Address of Borrower :</th>
    <td colspan="4">{{doc.address}}</td>
  </tr>
  <tr>
    <th>Nature of facility sanctioned:</th>
    <td colspan="4">Revolving credit facility</td>
  </tr>
  <tr>
    <th>Purpose</th>
    <td colspan="4">General Purpose</td>
  </tr>
  <tr>
    <th>
      Sanctioned Credit Limit as on date of acceptance of this terms and
      conditions
    </th>
    <td colspan="4">Rs.{{doc.sanctioned_credit_limit}}/- only)</td>
  </tr>
  <tr>
    <th>Interest type</th>
    <td colspan="4">Fixed, linked to Reference Rate</td>
  </tr>
  <tr>
    <th>Rate of Interest</th>
    <td colspan="4">
      Reference Rate for the time being i.e {{doc.rate_of_interest1}}% + Spread
      for the time being of {{doc.rate_of_interest2}} % p.a. Reference rate is
      subject to change based on management discretion from time to time.
    </td>
  </tr>
  <tr>
    <th>Details of security / Collateral obtained</th>
    <td colspan="4">
      Shares and other securities as will be pledged from time to time to
      maintain the required security cover.
    </td>
  </tr>
  <tr>
    <th>Security Coverage</th>
    <td colspan="4">
      Shares & Equity oriented Mutual Funds : Minimum 200% Other Securites : As
      per rules applicable from time to time
    </td>
  </tr>
  <tr>
    <th>Facility Tenure</th>
    <td colspan="4">
      12 Months (Renewable at Lender’s discretion, as detailed in the T&C).
    </td>
  </tr>
  <tr>
    <th>Repayment Through</th>
    <td colspan="4">
      Cash Flows /Sale of Securities/Other Investments Maturing
    </td>
  </tr>
  <tr>
    <th>Mode of communication of changes in interest rates and others</th>
    <td colspan="4">
      Website and Mobile App notification, SMS, Email, Letters, Notices at
      branches, communication through statement of accounts of the borrower, or
      any other mode of communication.
    </td>
  </tr>
  <tr>
    <th>EMI Payable</th>
    <td colspan="4">Not Applicable</td>
  </tr>
  <tr>
    <th>Default Interest/Additional interest in case of default</th>
    <td colspan="4">
      Upto 1.50 % per month over and above applicable Interest Rate.
    </td>
  </tr>
  <tr>
    <th>Type of Charges</th>
    <th colspan="4">Details</th>
  </tr>
  <tr>
    <th>Processing Fee</th>
    <td colspan="4">Rs.{{doc.processing_fee}}/-</td>
  </tr>
  <tr>
    <th>Account Renewal charges</th>
    <td colspan="4">Rs.{{doc.account_renewal_charges}}/-</td>
  </tr>
  <tr>
    <th>Documentation charges</th>
    <td colspan="4">Rs.{{doc.documentation_charges}}/-</td>
  </tr>
  <tr>
    <th>Stamp duty & other statutory charges</th>
    <td colspan="4">At actuals</td>
  </tr>
  <tr>
    <th>Pre-payment charges</th>
    <td colspan="4">NIL</td>
  </tr>
  <tr>
    <th>
      Processing Charges per Request (per variation in the composition of the
      Demat securities pledged)
    </th>
    <td colspan="4">Rs.{{doc.processing_charges_per_req}}/-</td>
  </tr>
  <tr>
    <th>
      Collection/ Charges regarding Sale of Security in the event of default)
    </th>
    <td colspan="4">
      All costs and expenses, brokerages, transaction charges, and other levies
      as per actuals.
    </td>
  </tr>
  <tr>
    <th>Sale of security in the event of default or otherwise</th>
    <td colspan="4">
      All brokerages, transaction charges and other levies as per actuals
    </td>
  </tr>
  <tr>
    <th>Credit Information Companies'(CICs) Charges</th>
    <td>Upto Rs 100/- per instance</td>
    <td>Solvency Certificate</td>
    <td>Not Applicable</td>
    <td>NIL</td>
  </tr>
  <tr>
    <th>No Due Certificate / No Objection Certificate (NOC)</th>
    <td>NIL</td>
    <td>Duplicate No Due certificate / NOC</td>
    <td>NIL</td>
  </tr>
  <tr>
    <th>Legal & incidental charges</th>
    <td>As per actuals.</td>
    <td>NIL</td>
    <td>NIL</td>
  </tr>
</table>
<p>
  GST and other government levies would be charged additionally as applicable.
  The above fees/charges are standard rates. Above fees/charges are subject to
  change from time to time as per Lender's policy and are non refundable.
</p>
<br />
<p>
  <strong
    >Applied, Accepted, Authenticated, Signed and Delivered by {{doc.full_name}}
    (the Borrower) through website / mobile application, via adhaar based e-sign
    process.</strong
  >
</p>
