{% extends 'templates/lmsbase.html' %} {% block title %} Sparkloans {% endblock
title %} {% block body %}
<section class="fw landing content-privacy">
  <div class="container container3 pr">
    <div
      class="comingsoon comingsoon2 d-flex justify-content-center align-items-center"
    >
      <div class="text-center">
        <h1 style="font-size: 50px; font-family: Gilroy_Bold">404</h1>
        <h3 style="color: black; font-family: Gilroy_Bold">Page not found</h3>
        <h5>the page you are looking for is not found.</h5>
        <p style="color: black">
          <a href="/"> Click here</a> to go to the homepage
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
