{% extends 'templates/lmsbase.html' %} {% block body_content %}
<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5 style="margin-bottom: 0px">Career</h5>
      </div>
    </div>
  </div>
</section>
<section class="fw landing content-banner">
  <div class="container container2 pr">
    <div class="row dx_jcsbalctr">
      <div class="col d-block d-sm-none txc">
        <img src="assets/lms/images/career-banner.png" width="90%" />
      </div>
      <div class="col col-md-5">
        <div class="fw banner">
          <h3>
            SPARK.loans is a digital lending platform that offers loans against
            securities.
          </h3>
          <p>
            So any asset which is in demat / electronic form can be used as a
            security for obtaining loan through the SPARK platform. The loan is
            in form of an overdraft limit (running account facility) which the
            borrower can utilize as and when required with no burden of monthly
            EMI payments. <br />
            <br />
            We aim to leverage the power of technology and data science to keep
            on innovating, customizing and improving our product for the benefit
            of the customers.
          </p>
        </div>
      </div>
      <div class="col col-md-6 d-none d-sm-block">
        <img src="assets/lms/images/career-banner.png" class="fw" />
      </div>
    </div>
  </div>
</section>
<section class="fw partners">
  <div class="container container3">
    <div class="row">
      <div class="fw titlesec">
        <h5>Open Positions</h5>
        <div class="navall">
          <div class="row">
            <div class="col-md-9">
              <ul>
                <li class="active"><a href="#"> All </a></li>
                <li><a href="#"> New </a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="search">
                <div class="form_group">
                  <div class="form_control">
                    <label>
                      <input type="text" name="search" placeholder="Search" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion positions" id="accordionPositions">
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingOne"
              data-toggle="collapse"
              data-target="#collapseOne"
            >
              <h6>
                Marketing Head
                <!-- <span class="appleNow" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> -->
                <i class="fa fa-plus"></i>
              </h6>
            </div>
            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordionPositions"
            >
              <div class="card-body">
                <p class="semibold">
                  Consent and Information Collection and Use
                </p>
                <p>
                  Before we dig into this, let’s tell you our trust story. When
                  we started our noble journey in 2017, we wanted to make it
                  possible for everyone to access legitimate investments, and we
                  did that.
                </p>
                <p>
                  We didn’t stop at making it possible for people to access
                  these investment opportunities with just NGN100, we introduced
                  an improved security structure to the fintech space. We did
                  this by setting up a trust structure in partnership with
                  Meristem Trustees; we’ll explain the importance of this here.
                </p>
                <p>
                  Right from our very first user, trust has always been our
                  currency. Many have come to us with expectations that are
                  impossible to achieve - 10% monthly for instance. We’ve always
                  been clear about such requests, our commitment is to manage
                  your money for steady growth and not make false promises that
                  get you excited. Three years on, that hasn’t changed.
                </p>
                <p>
                  For the purposes of billing your account (if you have a paid
                  account) and in order to process payments, utilizes third
                  party payment gateways, such as Stripe and Paypal, who will
                  utilize your credit card and other payment information in
                  accordance with their respective privacy policies. shall not
                  be liable to you or any other person for any damages that
                  might result from unauthorized use, publication, disclosure or
                  any other misuse of such payment information, including credit
                  card information.
                </p>
                <p>
                  may share your personal information with its registered API
                  application providers, including Chrome tab extensions Panda
                  and Muz.li which deliver relevant design stories and
                  inspiration. We invite you to review their applicable data
                  protection policies.
                </p>
                <p>
                  When we disclose your personal information to third parties,
                  we take reasonable measures to ensure that the rules set forth
                  in this Privacy Policy are complied with and these third
                  parties provide sufficient guarantees to implement appropriate
                  technical and organisational measures.
                </p>
                <!-- <p><span class="appleNow2" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> </p> -->
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingTwo"
              data-toggle="collapse"
              data-target="#collapseTwo"
            >
              <h6>
                Intern
                <!-- <span class="appleNow" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> -->
                <i class="fa fa-plus"></i>
              </h6>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionPositions"
            >
              <div class="card-body">
                <p class="semibold">
                  Consent and Information Collection and Use
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers.
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers.
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers. So any asset which is in demat / electronic form
                  can be used as a security for obtaining loan through the SPARK
                  platform. The loan is in form of an overdraft limit (running
                  account facility) which the borrower can utilize as and when
                  required with no burden of monthly EMI payments. We aim to
                  leverage the power of technology and data science to keep on
                  innovating, customizing and improving our product for the
                  benefit of the customers.
                </p>
                <!-- <p><span class="appleNow2" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> </p> -->
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingThree"
              data-toggle="collapse"
              data-target="#collapseThree"
            >
              <h6>
                HR Executive
                <!-- <span class="appleNow" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> -->
                <i class="fa fa-plus"></i>
              </h6>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionPositions"
            >
              <div class="card-body">
                <p class="semibold">
                  Consent and Information Collection and Use
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers.
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers.
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers. So any asset which is in demat / electronic form
                  can be used as a security for obtaining loan through the SPARK
                  platform. The loan is in form of an overdraft limit (running
                  account facility) which the borrower can utilize as and when
                  required with no burden of monthly EMI payments. We aim to
                  leverage the power of technology and data science to keep on
                  innovating, customizing and improving our product for the
                  benefit of the customers.
                </p>
                <!-- <p><span class="appleNow2" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> </p> -->
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingFour"
              data-toggle="collapse"
              data-target="#collapseFour"
            >
              <h6>
                Account Executive
                <!-- <span class="appleNow" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> -->
                <i class="fa fa-plus"></i>
              </h6>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionPositions"
            >
              <div class="card-body">
                <p class="semibold">
                  Consent and Information Collection and Use
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers.
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers.
                </p>
                <p>
                  So any asset which is in demat / electronic form can be used
                  as a security for obtaining loan through the SPARK platform.
                  The loan is in form of an overdraft limit (running account
                  facility) which the borrower can utilize as and when required
                  with no burden of monthly EMI payments. We aim to leverage the
                  power of technology and data science to keep on innovating,
                  customizing and improving our product for the benefit of the
                  customers. So any asset which is in demat / electronic form
                  can be used as a security for obtaining loan through the SPARK
                  platform. The loan is in form of an overdraft limit (running
                  account facility) which the borrower can utilize as and when
                  required with no burden of monthly EMI payments. We aim to
                  leverage the power of technology and data science to keep on
                  innovating, customizing and improving our product for the
                  benefit of the customers.
                </p>
                <!-- <p><span class="appleNow2" data-toggle="modal" data-target="#Apply-position-pop">Apple Now</span> </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fw appdownload">
  <div class="container">
    <div class="row">
      <div class="fw appdownloadbg">
        <img
          src="assets/lms/images/home/Download_App.svg"
          class="fw d-none d-sm-block"
        />
        <img
          src="assets/lms/images/home/appdownload_02.jpg"
          class="fw d-block d-sm-none"
        />
        <div class="titlesec">
          <h5>Download App</h5>
          <p>We strongly believe that being the best is being unique.</p>
          <div class="fw apps">
            <a href="/comingsoon"
              ><img src="assets/lms/images/home/play-store.svg" class="fw"
            /></a>
            <a href="/comingsoon"
              ><img src="assets/lms/images/home/app-store.svg" class="fw"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Modal -->
<div
  class="modal fade common-modal"
  id="apply-now-pop"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Apply Now</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <img src="assets/lms/images/close-bt.png" />
      </button>
      <div class="modal-body">
        <form
          class="fw placeholder_txt"
          name="apply-now-forum"
          id="apply-now-forum"
        >
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>First Name</span>
                <input type="text" name="firstname" class="required number" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Last Name</span>
                <input type="email" name="lastname" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Email <a href="#" class="optionalBtn"> Optional</a></span>
                <input type="email" name="email" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Mobile</span>
                <input type="tel" name="mobile" class="required" />
              </label>
            </div>
          </div>
          <div class="fw text-center mt-5">
            <button type="submit" class="applybtn">
              <span>Submit</span><span>&nbsp;</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- >Apply for position -->

<div
  class="modal fade common-modal"
  id="Apply-position-pop"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Apply for position</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <img src="assets/lms/images/close-bt.png" />
      </button>
      <div class="modal-body">
        <form
          class="fw placeholder_txt"
          name="applyPosition"
          id="applyPosition"
        >
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>First Name</span>
                <input type="text" name="firstname" class="required number" />
              </label>
            </div>
          </div>

          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Last Name</span>
                <input type="email" name="lastname" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Email <a href="#" class="optionalBtn"> Optional</a></span>
                <input type="email" name="email" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Mobile</span>
                <input type="tel" name="mobile" class="required" />
              </label>
            </div>
          </div>
          <div class="form_upload">
            <input type="file" name="files" />
          </div>

          <div class="fw text-center mt-5">
            <button type="submit" class="applybtn">
              <span>Submit</span><span>&nbsp;</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
