{% extends 'templates/lmsbase.html' %} {% block title %} Coming Soon {% endblock
title %} {% block description %} Coming Soon. {% endblock description %} {%
block body %}
<section class="fw landing content-privacy">
  <div class="container container3 pr">
    <div
      class="
        comingsoon
        comingsoon2
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div class="text-center">
        <img src="assets/lms/images/chronometer.svg" />
        <h4>Coming Soon...</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}
