{% extends 'templates/lmsbase.html' %} {% block body_content %}
<!-- <section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5 style="margin-bottom: 0px;">Loan Calculator</h5>
      </div>
    </div>
  </div>
</section> -->
<section class="fw landing content-privacy">
  <div class="container container3 pr">
    <div
      class="comingsoon comingsoon2 d-flex justify-content-center align-items-center"
    >
      <div class="text-center">
        <img src="assets/lms/images/chronometer.svg" />
        <h4>Coming Soon...</h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}
