{% extends 'templates/lmsbase.html' %} {% block ogtag %}
<meta property="og:url" content="https://www.spark.loans/contact" />
{% endblock %} {% block title %} Contact Us | spark.loans {% endblock title %}
{% block description %} If you have any queries related to our products or
services, contact the spark.loans team. We are committed to helping you. {%
endblock description %} {% block ogtitle %} Contact Us | spark.loans {% endblock
%} {% block ogdescription %} If you have any queries related to our products or
services, contact the spark.loans team. We are committed to helping you.{%
endblock %} {% block keywords %}Contact Us {% endblock keywords %} {% block body
%}

<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5 style="margin-bottom: 0px">Contact</h5>
      </div>
    </div>
  </div>
</section>
<section class="fw landing maincontact">
  <div class="container pr contact_main">
    <div class="cont_icon1">
      <img src="assets/lms/images/contact_icon01.png" />
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="fw">
          <div class="get">
            <h4 class="contact_title">Get in touch</h4>
            <p>
              <i class="fas fa-envelope"></i>
              <a href="mailto:reception@spark.loans"> reception@spark.loans </a>
            </p>
          </div>
          <div class="get">
            <h4 class="contact_title">Location</h4>
            <p style="padding-bottom: 0px !important">
              <strong>Registered Office:</strong>
            </p>
            <p style="margin-top: 0px">
              A 8, Narayan Plaza, 26A Chandivali RD, Sakinaka Kurla, Near
              Chandivali Studio, Mumbai 400 072
            </p>
            <p style="padding-bottom: 0px !important">
              <strong>Corporate Office:</strong>
            </p>
            <p style="margin-top: 0px">
              Shree Shakambhari Corporate Park,Plot No: 156-158, J.B.
              Nagar,Andheri (East), Mumbai - 400 099
            </p>
          </div>
          <!-- <div class="get MAPs">
            <p> <a href="#"> View on MAPs </a></p>
          </div> -->
          <div class="Social">
            <h4 class="contact_title">Social</h4>
            <ul>
              <li>
                <a href="https://www.linkedin.com/company/74991731/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/spark.loans/"
                  ><i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/Spark-Loans-102197685496313/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <form
          class="fw placeholder_txt contact_from"
          name="contact-forum"
          id="contact-forum"
        >
          <h4 class="contact_title">Got a query?</h4>
          <p>We are happy to help you!</p>
          <div class="form_group">
            <div class="form_control">
              <label>
                <h6>Type of Loan</h6>
                <select class="required" name="loantype">
                  <option selected value="Loan Against Shares">
                    Loan Against Shares
                  </option>
                </select>
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>First Name</span>
                <input type="text" name="firstname" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Email</span>
                <input type="email" name="email" class="required email" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Mobile</span>
                <input
                  type="tel"
                  minlength="10"
                  maxlength="10"
                  name="cmobile"
                  class="required number"
                />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Message</span>
                <textarea type="text" name="messages" class="required" row="4">
                </textarea>
              </label>
            </div>
          </div>
          <div class="fw text-center mt-5">
            <button type="button" class="applybtn" onclick="submitContact()">
              <span>Submit</span><span>&nbsp;</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="cont_icon2">
      <img src="assets/lms/images/contact_icon02.png" />
    </div>
    <div class="cont_icon3">
      <img src="assets/lms/images/contact_icon03.png" />
    </div>
  </div>
</section>
<div class="chat">
  <a href="#"> <img src="assets/lms/images/chat.png" /> </a>
</div>
{% include 'templates/appdownload.html' %} {% endblock %} {% block script %}
<script>
  function submitContact() {
    var loantype = $('[name="loantype"]').val();
    var firstname = $('[name="firstname"]').val();
    var email = $('[name="email"]').val();
    var cmobile = $('[name="cmobile"]').val();
    var message = $('[name="messages"]').val();
    var regEx =
      /^[A-Za-z0-9][A-Za-z0-9._%+-]{0,63}@(?:[A-Za-z0-9-]{1,63}\.){1,125}[A-Za-z]{2,63}$/;
    var validEmail = regEx.test(email);
    if (
      !(loantype == "") &&
      !(firstname == "") &&
      !(email == "") &&
      !(cmobile == "") &&
      !(message == "")
    ) {
      if (!isNaN(cmobile) && !(cmobile.length < 10) && validEmail) {
        $.get(
          "/api/method/lms.www.contact.servercallmethod",
          {
            loantype: loantype,
            firstname: firstname,
            email: email,
            cmobile: cmobile,
            message: message,
          },
          alert("{{ _('Thank you!! we will get back to you soon.') }}")
        );
        $(":input").val("");
      } else {
        alert("Please provide required details.");
      }
    }
  }
</script>
{% endblock script %}
