{% extends 'templates/lmsbase.html' %} {% block title %} Videos Gallery -
SparkLoans {% endblock title %} {% block description %} Watch our video to
understand our products and services in a detail at SparkLoans. {% endblock
description %} {% block body %}
<style>
  #viewMore {
    color: #eb5e50;
    cursor: pointer;
  }

  #showIframe {
    background-color: transparent;
  }

  .popUp.open {
    display: block;
  }

  .popUp {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .popUp .iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 110px;
  }

  .popUp .closeBtn {
    position: absolute;
    top: 90px;
    right: 2%;
  }

  .popUp iframe {
    position: relative;
    width: 75vw;
    height: 80vh;
  }

  @media screen and (max-width: 768px) {
    .popUp .iframe {
      top: 17%;
    }

    .popUp .closeBtn {
      position: absolute;
      top: 65px;
      right: 2%;
    }

    .popUp iframe {
      position: relative;
      width: 90vw;
      height: 80vh;
    }
  }

  @media screen and (min-width: 768.1px) and (max-width: 998px) {
    .popUp .iframe {
      top: 15%;
    }

    .popUp iframe {
      position: relative;
      width: 80vw;
      height: 80vh;
    }
  }
</style>
<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5>Demo Videos</h5>
      </div>
    </div>
  </div>
</section>
<section class="fw mt-5 pt-5">
  <div class="container container3">
    <div class="fw">
      <div class="row">
        <div class="col-md-9">
          <h5 class="stories-title">All Stories</h5>
        </div>
        <div class="col-md-3">
          <div class="search">
            <div class="form_group">
              <div class="form_control">
                <label>
                  <input
                    type="text"
                    id="search"
                    name="search"
                    placeholder="Search"
                  />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filternav">
        <div class="row">
          <div class="col-md-12">
            <ul id="filterOptions">
              <li class="active">
                <a class="all" id="all_videos" href="#"> All </a>
              </li>
              <li>
                <a href="#" class="Latest" id="latest_video"> Latest </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul
        class="row videoboxes videosslider3 owl-carousel owl-theme"
        id="ourStories"
      ></ul>
      <div style="padding-bottom: 20px">
        <h5 class="viewMore">
          <a class="viewMores" id="viewMore"> View More</a>
        </h5>
      </div>
    </div>
  </div>
  <input type="hidden" name="page_no" id="page_no" value="1" />
  <input type="hidden" name="post" id="latest_post_2" />
  <script type="text/javascript">
    function closePop(id) {
      var el_src = $("." + id + " #DemoVideo").attr("src");
      $("." + id + " #DemoVideo").attr("src", el_src);
      $(".popUp").removeClass("open");
    }
    function openPop(id) {
      $("." + id).addClass("open");
    }
    $(document).ready(function () {
      $("#viewMore").html("View More");
      var page_no = $("#page_no").val();
      $("#latest_post_2").val("false");
      loadData();

      $("#all_videos").click(function () {
        $("#viewMore").html("View More");
        var page_no = 1;
        var search_key = $("#search").val();
        $("#latest_post_2").val("false");
        var latest_video = "false";
        var replace = true;
        loadData(page_no, latest_video, search_key, replace);
      });

      $(document).on("click", "#viewMore", function () {
        var page_no = $("#page_no").val();
        var latest_video = $("#latest_post_2").val();
        var search_key = $("#search").val();
        loadData(page_no, latest_video, search_key);
      });

      $("#latest_video").click(function () {
        var page_no = 1;
        var search_key = $("#search").val();
        $("#latest_post_2").val("true");
        var latest_video = "true";
        var replace = true;
        loadData(page_no, latest_video, search_key, replace);
      });

      function loadData(
        page_no = 1,
        latest_video = "",
        search_key = "",
        replace = false
      ) {
        $.ajax({
          url: "/api/method/lms.www.demovideos.get_videos_list",
          type: "GET",
          data: {
            page_no: page_no,
            latest_video: latest_video,
            search_key: search_key,
          },
          dataType: "json",
          success: function (res) {
            if (res.data.videos_list_response.length > 0) {
              var html = "";
              $.each(res.data.videos_list_response, function (id, value) {
                if (value.video_title) {
                  video_title = value.video_title;
                } else {
                  video_title = "";
                }
                if (value.video_description) {
                  video_description =
                    value.video_description.slice(0, 100) + " ...";
                } else {
                  video_description = "";
                }
                html +=
                  '<li class="col-md-4 col-sm-6 item Latest" style="z-index: 0;">' +
                  '<div class="fw videobox" style="cursor:pointer" onclick="openPop(' +
                  "'" +
                  value.youtube_id +
                  "'" +
                  ')" id="play_videos">' +
                  '<img src="' +
                  value.youtube_image +
                  '" class="fw" style="height:273px; width:273px;"/>' +
                  '<div class="fw desc">' +
                  "<h6>" +
                  "<span style='font-size: 1.4rem'>" +
                  video_title +
                  "</span>" +
                  '<button id="showIframe" onclick="openPop(' +
                  "'" +
                  value.youtube_id +
                  "'" +
                  ')"><img src="assets/lms/images/home/videos/ic_video.jpg" class="videoico"/></button>' +
                  "</h6>" +
                  "<small>" +
                  video_description +
                  "</small>" +
                  "</div>" +
                  "</div>" +
                  "</li>" +
                  '<div class="popUp ' +
                  value.youtube_id +
                  '"  onclick="closePop(' +
                  "'" +
                  value.youtube_id +
                  "'" +
                  ')" style="z-index:10 !important;">' +
                  '<div class="closeBtn">' +
                  '<a style="background-color: transparent; color: white; font-weight: 900; font-size:1.55rem; cursor: pointer;" onclick="closePop(' +
                  "'" +
                  value.youtube_id +
                  "'" +
                  ')" id="closePop"><strong>X</strong></a>' +
                  "</div>" +
                  '<div class="iframe">' +
                  '<iframe id="DemoVideo" width="1920" height="1080" src="https://www.youtube.com/embed/' +
                  value.youtube_id +
                  '?version=3&enablejsapi=1&rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>' +
                  "</div>" +
                  "</div>";
              });
              if (res.data.videos_list_response.length < 6) {
                $("#viewMore").html("");
              } else {
                $("#viewMore").html("View More");
              }
              if (replace == true) {
                $("#ourStories").html(html);
              } else {
                $("#ourStories").append(html);
              }
              next_page_number = parseInt(res.data.page_no) + 1;
              // next_data = parseInt(res.data.videos_list_response.length) + 6;
              // if (res.data.video_count != next_data){
              //   $("#viewMore").html("");
              // } else{
              //     $("#viewMore").html("View More");
              // }

              $("#page_no").val(next_page_number);
              if (latest_video == "true") {
                $("#viewMore").hide();
              } else {
                $("#viewMore").show();
              }
            } else if (
              page_no == 1 &&
              res.data.videos_list_response.length <= 0
            ) {
              html = "";
              html += "<h3>No videos found.</h3>";
              $("#ourStories").html(html);
              $("#viewMore").hide();
            } else if (res.data.videos_list_response.length == "") {
              $("#viewMore").html("");
            }
          },
        });
      }

      // Search video
      $("#search").keyup(function () {
        $("#page_no").val(1);
        var page_no = $("#page_no").val();
        console.log("search_key : ");
        var search = $(this).val();
        console.log(search);
        var latest_post = $("#latest_post_2").val();
        if (search != "") {
          loadData(page_no, latest_post, search, (replace = true));
        } else {
          loadData(page_no, latest_post, (search = ""), (replace = true));
        }
      });
    });
  </script>
</section>
{% include 'templates/subscribe.html' %} {% include 'templates/appdownload.html'
%} {% endblock %}
