{% extends 'templates/lmsbase.html' %} {% block title %} Videos Gallery -
SparkLoans {% endblock title %} {% block description %} Watch our video to
understand our products and services in a detail at SparkLoans. {% endblock
description %} {% block body %}
<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5>Demo Videos</h5>
      </div>
    </div>
  </div>
</section>
<section class="fw mt-5 pt-5">
  <div class="container container3">
    <div class="fw">
      <div class="row">
        <div class="col-md-9">
          <h5 class="stories-title">All Stories</h5>
        </div>
        <div class="col-md-3">
          <div class="search">
            <div class="form_group">
              <div class="form_control">
                <label>
                  <input type="text" name="search" placeholder="Search" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filternav">
        <div class="row">
          <div class="col-md-12">
            <ul id="filterOptions">
              <li class="active"><a class="all" href="#"> All </a></li>
              <li><a href="#" class="Latest"> Latest </a></li>
            </ul>
          </div>
        </div>
      </div>
      <ul
        class="row videoboxes videosslider3 owl-carousel owl-theme"
        id="ourStories"
      >
        <li class="col-md-4 col-sm-6 item Latest">
          <a href="#">
            <div class="fw videobox">
              <img src="assets/lms/images/home/videos/01.jpg" class="fw" />
              <div class="fw desc">
                <h6>
                  <span>Digital Lending Platform Loans Against Securities</span
                  ><img
                    src="assets/lms/images/home/videos/ic_video.jpg"
                    class="videoico"
                  />
                </h6>
                <small
                  >Loan against shares at SPARK is in form of an overdraft
                  credit line which you can use at your ease.</small
                >
              </div>
            </div>
          </a>
        </li>
        <li class="col-md-4 col-sm-6 item Latest">
          <a href="#">
            <div class="fw videobox">
              <img src="assets/lms/images/home/videos/02.jpg" class="fw" />
              <div class="fw desc">
                <h6>
                  <span>Digital Lending Platform Loans Against Securities</span
                  ><img
                    src="assets/lms/images/home/videos/ic_video.jpg"
                    class="videoico"
                  />
                </h6>
                <small
                  >Loan against shares at SPARK is in form of an overdraft
                  credit line which you can use at your ease.</small
                >
              </div>
            </div>
          </a>
        </li>
        <li class="col-md-4 col-sm-6 item">
          <a href="#">
            <div class="fw videobox">
              <img src="assets/lms/images/home/videos/01.jpg" class="fw" />
              <div class="fw desc">
                <h6>
                  <span>Digital Lending Platform Loans Against Securities</span
                  ><img
                    src="assets/lms/images/home/videos/ic_video.jpg"
                    class="videoico"
                  />
                </h6>
                <small
                  >Loan against shares at SPARK is in form of an overdraft
                  credit line which you can use at your ease.</small
                >
              </div>
            </div>
          </a>
        </li>
        <li class="col-md-4 col-sm-6 item Latest">
          <a href="#">
            <div class="fw videobox">
              <img src="assets/lms/images/home/videos/01.jpg" class="fw" />
              <div class="fw desc">
                <h6>
                  <span>Digital Lending Platform Loans Against Securities</span
                  ><img
                    src="assets/lms/images/home/videos/ic_video.jpg"
                    class="videoico"
                  />
                </h6>
                <small
                  >Loan against shares at SPARK is in form of an overdraft
                  credit line which you can use at your ease.</small
                >
              </div>
            </div>
          </a>
        </li>
        <li class="col-md-4 col-sm-6 item Latest">
          <a href="#">
            <div class="fw videobox">
              <img src="assets/lms/images/home/videos/02.jpg" class="fw" />
              <div class="fw desc">
                <h6>
                  <span>Digital Lending Platform Loans Against Securities</span
                  ><img
                    src="assets/lms/images/home/videos/ic_video.jpg"
                    class="videoico"
                  />
                </h6>
                <small
                  >Loan against shares at SPARK is in form of an overdraft
                  credit line which you can use at your ease.</small
                >
              </div>
            </div>
          </a>
        </li>
        <li class="col-md-4 col-sm-6 item">
          <a href="#">
            <div class="fw videobox">
              <img src="assets/lms/images/home/videos/01.jpg" class="fw" />
              <div class="fw desc">
                <h6>
                  <span>Digital Lending Platform Loans Against Securities</span
                  ><img
                    src="assets/lms/images/home/videos/ic_video.jpg"
                    class="videoico"
                  />
                </h6>
                <small
                  >Loan against shares at SPARK is in form of an overdraft
                  credit line which you can use at your ease.</small
                >
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div>
        <h5 class="viewMore"><a href="#"> View More</a></h5>
      </div>
    </div>
  </div>
</section>
{% include 'templates/subscribe.html' %} {% include 'templates/appdownload.html'
%} {% endblock %}
