{% extends 'templates/lmsbase.html' %} {% block body_content %}
<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5 style="margin-bottom: 0px">Help</h5>
      </div>
    </div>
  </div>
</section>
<section class="fw">
  <div class="container container3">
    <div class="row">
      <div class="fw titlesec">
        <div class="accordion positions help" id="accordionHelp">
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingOne"
              data-toggle="collapse"
              data-target="#collapseOne"
            >
              <h6>Account opening (Registration) <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingTwo"
              data-toggle="collapse"
              data-target="#collapseTwo"
            >
              <h6>Apply for a new loan <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingThree"
              data-toggle="collapse"
              data-target="#collapseThree"
            >
              <h6>Logins and Permissions <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingFour"
              data-toggle="collapse"
              data-target="#collapseFour"
            >
              <h6>Fees and Charges <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingFive"
              data-toggle="collapse"
              data-target="#collapseFive"
            >
              <h6>Loan Management <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseFive"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingSix"
              data-toggle="collapse"
              data-target="#collapseSix"
            >
              <h6>Manage Profile <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseSix"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingSeven"
              data-toggle="collapse"
              data-target="#collapseSeven"
            >
              <h6>Transaction and Balance view <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseSeven"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingEight"
              data-toggle="collapse"
              data-target="#collapseEight"
            >
              <h6>Pledging securities <i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseEight"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingTen"
              data-toggle="collapse"
              data-target="#collapseTen"
            >
              <h6>Digital safety and security<i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseTen"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div
              class="card-header collapsed"
              id="headingTen1"
              data-toggle="collapse"
              data-target="#collapseTen1"
            >
              <h6>Loan Repayment<i class="fa fa-plus"></i></h6>
            </div>
            <div
              id="collapseTen1"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionHelp"
            >
              <div class="card-body">
                <p>
                  For registration at Spark.loans, one needs to download
                  Spark.loan app from iOS or Play Store and provide his mobile
                  number. Once the mobile number is verified, user will be
                  registered with Spark.loans <br />
                  Watch Video:
                  <a href="https://rb.gy/guekdd" target="_blank">
                    https://rb.gy/guekdd
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fw appdownload">
  <div class="container">
    <div class="row">
      <div class="fw appdownloadbg">
        <img
          src="assets/lms/images/home/Download_App.svg"
          class="fw d-none d-sm-block"
        />
        <img
          src="assets/lms/images/home/appdownload_02.jpg"
          class="fw d-block d-sm-none"
        />
        <div class="titlesec">
          <h5>Download App</h5>
          <p>We strongly believe that being the best is being unique.</p>
          <div class="fw apps">
            <a href="/comingsoon"
              ><img src="assets/lms/images/home/play-store.svg" class="fw"
            /></a>
            <a href="/comingsoon"
              ><img src="assets/lms/images/home/app-store.svg" class="fw"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    // Add minus icon for collapse element which is open by default
    $(".collapse.show").each(function () {
      $(this)
        .prev(".card-header")
        .find(".fa")
        .addClass("fa-minus")
        .removeClass("fa-plus");
    });

    // Toggle plus minus icon on show hide of collapse element
    $(".collapse")
      .on("show.bs.collapse", function () {
        $(this)
          .prev(".card-header")
          .find(".fa")
          .removeClass("fa-plus")
          .addClass("fa-minus");
      })
      .on("hide.bs.collapse", function () {
        $(this)
          .prev(".card-header")
          .find(".fa")
          .removeClass("fa-minus")
          .addClass("fa-plus");
      });
  });
</script>
{% endblock %}
