{% extends 'templates/lmsbase.html' %} {% block title %} Get Loan Against
Securities at Best Interest Rate - SparkLoans {% endblock title %} {% block
description %} Looking for Loan Against Securities at low Interest Rate?
SparkLoans offers you a best interest rate on Loan Against Securities in just
few days. {% endblock description %} {% block body %}

<!-- <div class="cookies">
    <p>
      This website uses cookies.&nbsp;
      <a href="javascript:void(0);" class="learnmore">Learn more</a>.
      <a href="javascript:void(0);" class="close_cookie">&nbsp;</a>
    </p>
    <div class="fw dx">
      <a href="javascript:void(0);" class="acceptbtn applybtn"><span>Accept</span><span>&nbsp;</span></a>
    </div>
  </div> -->
<section class="fw landing">
  <!-- <div class="fw landing_bg">&nbsp;</div> -->
  <div
    class="fw landing_bg"
    data-center="top:5%"
    data-bottom-top="top:-60%"
    data-bottom="top: 5%"
    data-top-bottom="top:-60%"
    data-anchor-target=".landing"
  >
    &nbsp;
  </div>
  <div class="container pr">
    <div class="row dx_jcsbalctr">
      <div class="col d-block d-sm-none txc">
        <img src="assets/lms/images/home/banner.png" width="80%" />
      </div>
      <div class="col">
        <div class="fw banner">
          <h2>A digital platform offers loans against securities</h2>
          <p>
            Any asset which is in demat form such as Listed Shares, Mutual fund
            units, Bonds, etc. can be used as a security for obtaining overdraft
            limit through the SPARK platform.
          </p>
          <a
            href="javascript:void(0);"
            class="applybtn"
            data-toggle="modal"
            data-target="#apply-now-pop"
            ><span>Apply Now</span><span>&nbsp;</span></a
          >
        </div>
      </div>
      <div class="col d-none d-sm-block">
        <img src="assets/lms/images/home/banner.png" class="fw" />
      </div>
    </div>
  </div>
</section>
<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec">
        <h5 style="margin-bottom: 0px">Spark Advantages</h5>
      </div>
    </div>
  </div>
</section>
<!-- <section class="fw pr" id="box-container" style="overflow: hidden;"> -->
<section class="fw pr" id="box-container">
  <div
    class="fw box_first_bg"
    data-center="top:-10%"
    data-bottom-top="top:0%"
    data-bottom="top: -30%"
    data-top-bottom="top:-25%"
    data-anchor-target="#box-container"
  >
    &nbsp;
  </div>
  <div id="Box-Wrapper">
    <div id="Box">
      <div class="box_slide">
        <div class="box_content">
          <div class="fw box_inner">
            <div class="container">
              <div class="row">
                <div class="col-7 imagesloans d-none d-sm-block">
                  <div class="accord_images">
                    <div class="circle green_circle active" id="circle-01">
                      &nbsp;
                    </div>
                    <div class="semi_circle pink_circle" id="circle-02">
                      &nbsp;
                    </div>
                    <div class="circle blue_circle" id="circle-03">&nbsp;</div>
                    <div class="semi_circle orange_circle" id="circle-04">
                      &nbsp;
                    </div>
                    <div class="circle green_circle" id="circle-05">&nbsp;</div>
                    <div class="semi_circle pink_circle" id="circle-06">
                      &nbsp;
                    </div>
                    <div class="circle blue_circle" id="circle-07">&nbsp;</div>
                    <div class="semi_circle orange_circle" id="circle-08">
                      &nbsp;
                    </div>
                    <div class="mobile">&nbsp;</div>
                    <img
                      src="assets/lms/images/home/spark-advantages/1. Simple overdraft loan.png"
                      width="245"
                      class="active"
                      id="accord-img-01"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/2 Smart and Easy loans.png"
                      width="245"
                      id="accord-img-02"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/3 Complete control over your loans.png"
                      width="497"
                      id="accord-img-03"
                      style="left: -29px !important"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/4 Lower interest rates than margin funding.png"
                      width="245"
                      id="accord-img-04"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/5 No hidden fees.png"
                      width="245"
                      id="accord-img-05"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/6 Simple and quick process.png"
                      width="245"
                      id="accord-img-06"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/7 Easy documentation.png"
                      width="497"
                      id="accord-img-07"
                      style="left: -29px !important"
                    />
                    <img
                      src="assets/lms/images/home/spark-advantages/8 No pre closure.png"
                      width="245"
                      id="accord-img-08"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="fw accordion">
                    <div class="accorddiv active" id="accorddiv-01">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_document.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_document_active.svg"
                          class="imgactive"
                        />
                        <span>Simple overdraft loan</span>
                      </h3>
                      <div class="desc" id="toggle-01">
                        <div class="fw desc_inner">
                          <p>
                            Loan against shares at SPARK is in form of an
                            overdraft credit line which you can use at your
                            ease. Withdraw and Repay loan amounts as per your
                            requirement. Interest is charged only on the amount
                            withdrawn and not on the entire overdraft limit.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-02">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_smart_loan.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_smart_loan_active.svg"
                          class="imgactive"
                        />
                        <span>Smart & Easy Loans</span>
                      </h3>
                      <div class="desc" id="toggle-02">
                        <div class="fw desc_inner">
                          <p>
                            <span>Smart loan top-up:</span><br />
                            You get easy one click loan top up benefit whenever
                            there is increase in value of pledged securities.
                          </p>
                          <p>
                            <span>Pledge/Unpledge:</span><br />
                            Get rid of tedious pledge/unpledge formalities by
                            experiencing simple and seamless process at Spark.
                          </p>
                          <p>
                            <span>Sell securities:</span><br />
                            Now you can Sell your pledged securities through
                            SPARK to get instant credit to your loan account.
                          </p>
                          <p>
                            <span>Easy tracking of portfolio:</span><br />
                            You can now track your portfolio of pledged
                            securities and get instant notification of any
                            decrease in value to take immediate remedial action.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-03">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_treasury.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_treasury_active.svg"
                          class="imgactive"
                        />
                        <span>Complete control over your loans</span>
                      </h3>
                      <div class="desc" id="toggle-03">
                        <div class="fw desc_inner">
                          <p>
                            You can have full control over your loans and
                            underlying collateral securities and keep track of
                            the same at your fingertips.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-04">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_low_interest.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_low_interest_active.svg"
                          class="imgactive"
                        />
                        <span>Lower interest rates than margin funding</span>
                      </h3>
                      <div class="desc" id="toggle-04">
                        <div class="fw desc_inner">
                          <p>
                            Traders can now increase profits on trades by
                            getting rid of high interest rates charged on margin
                            funding. Avail easy loan against your securities at
                            much lower interest rates.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-05">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_no_hidden_fees.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_no_hidden_fees_active.svg"
                          class="imgactive"
                        />
                        <span>No hidden Fees</span>
                      </h3>
                      <div class="desc" id="toggle-05">
                        <div class="fw desc_inner">
                          <p>
                            We maintain complete transparency of the process
                            with our customers including all the fees and
                            charges applicable. There are no hidden charges.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-06">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_simple_process.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_simple_process_active.svg"
                          class="imgactive"
                        />
                        <span>Simple & Quick Process</span>
                      </h3>
                      <div class="desc" id="toggle-06">
                        <div class="fw desc_inner">
                          <p>
                            You can avail hassle free quick loans through our
                            complete digital process.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-07">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_document.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_document_active.svg"
                          class="imgactive"
                        />
                        <span>Easy Documentation</span>
                      </h3>
                      <div class="desc" id="toggle-07">
                        <div class="fw desc_inner">
                          <p>
                            With just few simple KYC information, any person can
                            apply for loans against securities. No need of
                            cumbersome income statements and proof of cash flow
                            for availing loan.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="accorddiv" id="accorddiv-08">
                      <h3>
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_noprecloser_penalty.svg"
                          class="imgnoactive"
                        />
                        <img
                          src="assets/lms/images/home/spark-advantages/icons/ic_noprecloser_penalty_active.svg"
                          class="imgactive"
                        />
                        <span>No pre-closure penalties</span>
                      </h3>
                      <div class="desc" id="toggle-08">
                        <div class="fw desc_inner">
                          <p>
                            Pay your loan at your will without the burden of
                            pre-payment charges.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="partners bg pr">
  <div class="fw titlesec">
    <h5>Our Lending Partners</h5>
  </div>
  <div class="fw dx_jcc">
    {% for lender in lenders %}
    <p class="txc Gilroy_Bold mx-3">
      <img
        src="{{lender.image}}"
        alt="{{lender.alt}}"
        width="180"
      /><br />{{lender.title}}
    </p>
    {% endfor %}
  </div>
</section>
<!-- <section class="videos">
         <div class="container">
            <div class="row">
               <div class="col">
                  <div class="col titlesec">
                     <h5>How Spark Loan Works</h5>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="fw dx_jcc videoboxes videosslider owl-carousel owl-theme">
                     <a href="#">
                        <div class="fw videobox">
                           <img src="assets/lms/images/home/videos/01.jpg" class="fw">
                           <div class="fw desc">
                              <h6><span>Digital Lending Platform Loans Against Securities</span><img src="assets/lms/images/home/videos/ic_video.jpg" class="videoico"></h6>
                              <small>Loan against shares at SPARK is in form of an overdraft credit line which you can use at your ease.</small> 
                           </div>
                        </div>
                     </a>
                     <a href="#">
                        <div class="fw videobox">
                           <img src="assets/lms/images/home/videos/02.jpg" class="fw">
                           <div class="fw desc">
                              <h6><span>Digital Lending Platform Loans Against Securities</span><img src="assets/lms/images/home/videos/ic_video.jpg" class="videoico"></h6>
                              <small>Loan against shares at SPARK is in form of an overdraft credit line which you can use at your ease.</small> 
                           </div>
                        </div>
                     </a>
                     <a href="#">
                        <div class="fw videobox">
                           <img src="assets/lms/images/home/videos/01.jpg" class="fw">
                           <div class="fw desc">
                              <h6><span>Digital Lending Platform Loans Against Securities</span><img src="assets/lms/images/home/videos/ic_video.jpg" class="videoico"></h6>
                              <small>Loan against shares at SPARK is in form of an overdraft credit line which you can use at your ease.</small> 
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="fw dx_jcc">
                     <a href="demo-videos.html" class="viewall">View All</a>
                  </div>
               </div>
            </div>
         </div>
      </section> -->

{% include 'templates/subscribe.html' %} {% include 'templates/appdownload.html'
%} {% endblock %} {% block script %}
<script
  type="text/javascript"
  src="assets/lms/js/greensock/TweenMax.min.js"
></script>
<script
  type="text/javascript"
  src="assets/lms/js/greensock/ScrollMagic.js"
></script>
<script
  type="text/javascript"
  src="assets/lms/js/greensock/animation.gsap.js"
></script>
<script
  type="text/javascript"
  src="assets/lms/js/greensock/debug.addIndicators.js"
></script>
<script type="text/javascript" src="assets/lms/js/skrollr.min.js"></script>
{% endblock %}
