<!DOCTYPE html>
<html>
  <head>
    {% include 'templates/head_content.html' %}
    <style>
      .pdescr img {
        max-width: 100% !important;
      }

      #viewMore {
        color: #eb5e50;
        cursor: pointer;
      }

      @media screen and (max-width: 768px) {
        .pdescr img {
          width: 100% !important;
        }
      }

      .web-footer {
        display: none;
      }

      .navbar {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="fw fixed-top">
      <div class="container container3">
        <div class="col dx_jcsbalctr topnav">
          <h5>
            <a href="/news-and-blogs">
              <img src="/assets/lms/images/arrow1.png"
            /></a>
            {{blog_details.title}}
          </h5>
          <!-- <a href="#"><img src="/assets/lms/images/share.png"> </a> -->
        </div>
      </div>
    </div>
    <section class="fw blogdetails">
      <div class="container container3">
        <div class="fw">
          <div class="row">
            <div class="col">
              <div class="articlesdetails">
                <p class="resources">
                  {% if blog_details.blog_tags %} {% for i in
                  blog_details.blog_tags %} {{i.website_tags}}{% endfor %} {%
                  endif %}
                </p>
                <h4>{{blog_details.title}}</h4>
                <p class="date">
                  {% if blog_details.author %} By {{blog_details.author}}
                  <span style="margin-left: 0px !important">
                    <img src="/assets/lms/images/dot.svg" />
                    {{ blog_details.publishing_date }} {% else %}
                  </span>
                  {% if blog_details.publishing_date %}
                  <span style="margin-left: 0px !important">
                    <img src="/assets/lms/images/dot.svg" />
                    {{ blog_details.publishing_date }} {% else %} {% endif %}
                  </span>
                  {% endif %}
                </p>
                {% if blog_details.for_blog_view %}
                <img src="{{blog_details.for_blog_view}}" class="fw" /> <br />
                {% endif %}
                <div style="font-size: 1.6rem" class="pdescr">
                  <br />
                  {% if blog_details.description %} {{blog_details.description}}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="fw readyGet">
      <div class="container container3">
        <div class="fw contact_bg readyGet_bg">
          <div class="row contact_bg_mo">
            <div class="col-5 fluid dx_airt">
              <img src="/assets/lms/images/ready.svg" class="fw" />
            </div>
            <div class="col-md-6">
              <div class="fw">
                <div class="titlesec">
                  <h5>Ready? Get started.</h5>
                  <p>Get instant loans today in less than 5 minutes.</p>
                  <div class="fw mt-4">
                    <button
                      type="submit"
                      class="applybtn applybtn2"
                      data-toggle="modal"
                      data-target="#apply-now-pop"
                    >
                      <span>Apply Now</span><span>&nbsp;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="fw related-blog">
      <div class="container container3">
        <div class="fw">
          <h4>Related articles</h4>
          <div class="row">
            <div class="col-md-9">
              <div class="row" id="related_article_div"></div>
              <div class="col-md-12">
                <h5 class="viewMore">
                  <a class="viewMores" id="viewMore">View More</a>
                </h5>
              </div>
            </div>
            <div class="col-md-3" id="news_card"></div>
          </div>
        </div>
      </div>
    </section>
    <input type="hidden" />

    {% include 'templates/subscribe.html' %} {% include
    'templates/appdownload.html' %} {% include
    'templates/modal/applyNowModal.html' %} {% include 'templates/footer.html'
    %}
    <div class="fw bottomfix">
      <div class="container container3">
        <div class="bottomnav">
          <div class="row">
            <div class="col dx_jcsbalctr blogdetailsArrows">
              <div class="col-sm-6">
                <a id="prev" style="cursor: pointer"></a>
              </div>
              <div class="col-sm-6" style="text-align: right !important">
                <a
                  id="next"
                  class="blogdetailsArrowsRight"
                  style="cursor: pointer"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="page_no" id="page_no" value="1" />
    <input type="hidden" name="page_no" id="page_data" value="0" />
    {% include 'templates/body_script.html' %}
    <script type="text/javascript">
      $(document).ready(function () {
        var page_no = $("#page_no").val();
        var urlParams = window.location.href;
        lstUrlParms = urlParams.split("/");
        route = lstUrlParms.slice(-1)[0];

        $.ajax({
          url: "/api/method/lms.www.newsblog.website_ads",
          type: "GET",
          dataType: "json",
          success: function (res) {
            if (res.data.website_ads.length > 0) {
              html =
                '<div class="news_card ad" style="margin-bottom: 1.25rem;">' +
                '<a href="' +
                res.data.website_ads.url +
                '" target="__blank">' +
                '<img src="' +
                res.data.website_ads.image +
                '" class="fw" />' +
                "</a>" +
                "</div>";
              $("#news_card").html(html);
            }
          },
        });

        $(".placeholder_txt .form_group span").click(function () {
          $(this).parent().addClass("normal_txt");
        });
        $(".placeholder_txt .form_group input").blur(function (event) {
          var inputValue = this.value;
          if (inputValue) {
            $(this).parent().addClass("normal_txt");
          } else {
            $(this).parent().removeClass("normal_txt");
          }
        });

        loadData(route, (page_no = 1));

        function loadData(route, page_no) {
          $.ajax({
            url: "/api/method/lms.www.newsblog.fetch_related_articles",
            type: "GET",
            data: {
              blog_route: route,
              page_no: page_no,
            },
            dataType: "json",
            success: function (res) {
              if (res.data.related_articles.length > 0) {
                var html = "";
                $.each(res.data.related_articles, function (index, val) {
                  const arr = val.website_tags.split(",");
                  var tags = "";
                  $.each(arr, (index, tag) => {
                    tags += tag + " ";
                  });
                  html +=
                    '<div class="col-md-4">' +
                    '<div class="news_card articles">' +
                    '<a href="/news-and-blogs/' +
                    val.name +
                    '"><img src="' +
                    val.for_banner_view +
                    '" class="fw"> </a>' +
                    "<p class=''>" +
                    tags +
                    "</p>" +
                    '<a href="/news-and-blogs/' +
                    val.name +
                    '"><h5>' +
                    val.title +
                    "</h5></a>" +
                    '<p class="date">' +
                    val.publishing_date +
                    "</p>" +
                    "</div>" +
                    "</div>";
                });
                $("#related_article_div").append(html);
                var page_data = $("#page_data").val();
                cur_page_data =
                  parseInt(page_data) + res.data.related_articles.length;
                $("#page_data").val(cur_page_data);
                if (cur_page_data == res.data.all_blog) {
                  $("#viewMore").hide();
                } else {
                  $("#viewMore").show();
                }
                if (res.data.related_articles.length < 3) {
                  $("#viewMore").hide();
                }
                next_pg_number = parseInt(res.data.page_no) + 1;
                $("#page_no").val(next_pg_number);
              } else if (
                page_no == 1 &&
                res.data.related_articles.length <= 0
              ) {
                $("#viewMore").hide();
              }
            },
          });
        }

        if (route) {
          $(document).on("click", "#viewMore", function () {
            var page_no = $("#page_no").val();
            loadData(route, page_no);
          });
          $.ajax({
            url: "/api/method/lms.www.newsblog.page_update",
            type: "GET",
            data: {
              blog_route: route,
            },
            dataType: "json",
            success: function (res) {
              if (res.data.previous_page == null) {
                $("#prev").hide();
              }
              if (res.data.next_page == null) {
                $("#next").hide();
              }
            },
          });
          $(document).on("click", "#prev", function () {
            $.ajax({
              url: "/api/method/lms.www.newsblog.page_update",
              type: "GET",
              data: {
                blog_route: route,
              },
              dataType: "json",
              success: function (res) {
                if (res.data.previous_page != null) {
                  location.href = res.data.previous_page;
                }
              },
            });
          });
          $(document).on("click", "#next", function () {
            $.ajax({
              url: "/api/method/lms.www.newsblog.page_update",
              type: "GET",
              data: {
                blog_route: route,
              },
              dataType: "json",
              success: function (res) {
                if (res.data.next_page != null) {
                  location.href = res.data.next_page;
                }
              },
            });
          });
        }
      });
    </script>
  </body>
</html>
