{% extends 'templates/lmsbase.html' %} {% block ogtag %}
<meta property="og:url" content="https://spark.loans/privacy-policy" />
{% endblock %} {% block title %} Privacy Policy - SparkLoans {% endblock title
%} {% block description %} Read our privacy policy on SparkLoans web portal. {%
endblock description %} {% block ogtitle %} Privacy Policy - spark.loans {%
endblock %} {% block ogdescription %} Read our privacy policy on spark.loans web
portal.{% endblock %} {%- block head_include -%} {% include
'templates/head_content.html' %}

<style>
  @media (max-width: 768px) {
    li::marker {
      font-size: 1.4em !important;
    }

    ul li::marker {
      font-size: 2em !important;
    }
  }

  @media (min-width: 768.1px) and (max-width: 1366) {
    li::marker {
      font-size: 1.6em !important;
    }

    ul li::marker {
      font-size: 2em !important;
    }
  }

  li::marker {
    font-size: 1.8em;
  }

  ul li::marker {
    font-size: 2.5em;
  }

  .privacy ul li {
    margin-left: 40px !important;
  }

  .privacy h4 {
    font-size: 2.3em !important;
    padding-bottom: 12px !important;
    padding-top: 10px !important;
  }

  p {
    padding-bottom: 10px !important;
  }

  .some p {
    padding-bottom: 0px !important;
  }

  td {
    padding: 10px 20px;
    border: 2px solid black !important;
  }

  tr {
    border: 2px solid black !important;
  }
</style>
{%- endblock -%} {% block body %}
<section class="fw">
  <div class="container">
    <div class="row">
      <div class="col titlesec maintitle">
        <h5 style="margin-bottom: 0px">Privacy Policy</h5>
      </div>
    </div>
  </div>
</section>
<section class="fw landing content-privacy">
  <div class="container container3 pr">
    <div class="row">
      <div class="col">
        <div class="fw privacy">
          <p>
            At <strong>“Choice Finserv”</strong> (collectively referred to as
            “the Company” hereon), we value your trust and respect your privacy.
          </p>
          <p>
            This Privacy Policy provides you with details about the manner in
            which your data is collected, stored and used by
            <strong>“Choice Finserv”.</strong> You are advised to read this
            Privacy Policy carefully. By visiting Company’s website(s) & mobile
            application(s), you expressly give us consent to use and disclose
            your personal information in accordance with this Privacy Policy. If
            you do not agree to the terms of this Privacy Policy, please do not
            use or access the Company’s website(s) or mobile application(s).
          </p>
          <h5>I. General</h5>
          <p>
            This privacy statement applies to the website(s) of the Company, or
            any online/mobile application(s) that refer to or link to this
            Privacy Policy (collectively, our “Services”). This Privacy Policy
            applies regardless of whether you use a computer, mobile phone,
            tablet, television or any other media or computer resource to access
            our Services. It is important that you read the Privacy Policy
            carefully because anytime you use our Services, you consent to the
            practices/ policies that we have set out in this Privacy Policy.
          </p>
          <h5>II. Personal Information</h5>
          <p>
            Personal Information means and includes, all information that can be
            linked to a specific individual or to the identity of any
            individual, including but not limited to, name, address, mailing
            address, telephone number, email ID, bank account details including
            details information about your mobile phone, any details that may
            have been voluntarily provided by the customer, whether to Unique
            Identification Authority of India (UIDAI), Credit Information Bureau
            of India Limited (CIBIL) or any other agency including any other
            Credit Information Companies.
          </p>
          <p>
            Provided that, any information that is freely available or
            accessible in the public domain or furnished under the right to
            information act, 2005 or any other law for the time being in force
            shall not be regarded as sensitive personal data or information for
            this policy.
          </p>
          <h5>III. Use of Personal Information</h5>
          <p>
            Personal Information collected shall be used for the relevant lawful
            purposes connected with various functions or activities of the
            company related to services in which the customer is interested,
            and/or to help determine the eligibility of the customer.
          </p>
          <p>
            We use personal information to provide you with our services, to
            resolve disputes, troubleshoot concerns, help promote safe services,
            assess your interest in our services, inform you about offers,
            products, services, updates, customize your experience, detect and
            protect us against errors, fraud and other criminal activity,
            enforce our terms and conditions, etc. We may also use your personal
            information to send you offers regarding various services/facilities
            which the Company may, from time to time, launch. We may
            occasionally ask you to complete optional online surveys. These
            surveys may ask you for contact information and demographic
            information (like zip code, age, gender, etc.). We use this data to
            customize your experience at “Choice Finserv”.
          </p>
          <h5>IV. Disclosure</h5>
          <p>
            We will not voluntarily disclose your personal information to any
            third party except as provided herein:-
          </p>
          <ul style="list-style-type: disc">
            <li>
              <p>
                We may disclose your data to any third parties for KYC
                Authentication, Loan Processing, for Underwriting, enabling
                customer support enabling communication between the customer and
                the company or any other similar purpose.
              </p>
            </li>
            <li>
              <p>
                We may also disclose your information to a third party as part
                of a merger or transfer or any restructuring. We may disclose
                Information to any of the Company associates and affiliates,
                without any limitation and you hereby give consent for the same.
              </p>
            </li>
            <li>
              <p>
                Moreover, we may also disclose the data if we are required by
                court order, by Government Authorities, by law enforcement
                authorities or by other legal processes or where it becomes
                necessary to do so to protect the rights or property of the
                Company and our affiliates, etc.
              </p>
            </li>

            <li>
              <p>
                Further company is required to disclose the personal information
                to a third party on a need-to-know basis, provided that in such
                case the company shall inform such party of the confidential
                nature of the personal information and shall keep the same
                standards of information/ data security as that of the company.
                The details of the third party to whom we share your data is
                mentioned in <strong>Appendix-1.</strong>
              </p>
            </li>

            <h5>V. Cookies</h5>
            <p>
              A “cookie” is a small piece of information stored by a web server
              on a web browser so it can be later read back from that browser.
              The Company’s website(s) uses cookie and tracking technology
              depending on the features offered. No personal information/
              data/details will be collected via cookies and other tracking
              technology; however, if you previously provided personally
              identifiable information, cookies may be tied to such information.
              Aggregate cookie and tracking information may be shared with third
              parties. You may also be able to opt out of certain cookies
              through third-party cookie management sites. Disabling cookies may
              prevent you from using certain parts of our website. The company
              is not responsible for cookies placed on the device of user/s by
              any other website and information collected thereto.
            </p>
            <h5>VI. Password policy</h5>
            <p>
              Do help us protect your privacy by maintaining the secrecy of the
              username and password you use for any of our Services.
            </p>
            <h5>VII. Changes to this Privacy Policy</h5>
            <p>
              <strong>“Choice Finserv”</strong> reserve the right to change or
              update this Privacy Policy or any other of our policies/practices
              at any time without giving any prior notification; hence, you are
              requested to review the Privacy Policy periodically, to make sure
              that you are aware of any such changes. This Privacy Policy shall
              apply uniformly to the company’s website(s) and mobile
              application(s) or any other media used by the Company for its
              Services. Any changes or updates will be effective immediately
              upon posting the same on our website at
              <a href="https://choiceindia.com/" target="_blank"
                >https://choiceindia.com/</a
              >.
            </p>
            <h5>VIII. Data protection and Privacy</h5>
            <p>
              We take reasonable steps to ensure that information about you is
              available only for so long as is necessary for the purpose for
              which it is processed, or longer if required under any contract,
              by applicable law, or for statistical purposes, subject to
              appropriate safeguards. Further, you shall also have the option to
              either accept, deny or revoke the consent for use of any specific
              data along with the option to delete any data collected by the
              Company.
            </p>
            <p>
              We have taken reasonable measures to protect security and
              confidentiality of customer information and its transmission
              through electronic medium. However, while using our application
              and services, you are required to follow standard procedures and
              guidelines in respect of managing security and confidentiality of
              your data. Further, the company may at its discretion destroy
              records, information and information system equipment no longer
              required for business activities.
            </p>
            <p>
              Access to work areas containing sensitive information is
              restricted to authorized personnel only and access to IT hardware
              is password protected. Access to customer’s sensitive information
              is restricted and access to this information is provided on least
              privilege basis. Control mechanism is in place ensuring access to
              sensitive information only to relevant personnel. Further, basis
              segregation of responsibilities, maker checker concept has been
              adopted from control mechanism perspective. In case of data
              breach, the company shall adopt the reasonable measures to handle
              the security breach as per their internal norms.
            </p>
            <p>
              For system and database administration and security, we
              implemented certain necessary actions which includes but not
              limited to-
            </p>
            <ul style="list-style-type: disc">
              <li>
                <p>Only necessary ports are kept open</p>
              </li>
              <li>
                <p>HTTPS is preferred over HTTP</p>
              </li>

              <li>
                <p>Server keypairs are changed periodically</p>
              </li>
              <li>
                <p>Passwords and passphrases are kept strong</p>
              </li>
              <li>
                <p>Regular review of unsuccessful logins</p>
              </li>
              <li>
                <p>System backup</p>
              </li>
              <li>
                <p>
                  Sensitive information is encrypted and transmitted securely
                </p>
              </li>
              <li>
                <p>Any other action required for the security of database.</p>
              </li>
            </ul>
          </ul>
          <h5>IX. Data Security Practice</h5>
          <p>
            We use requisite technical and organizational security measures to
            ensure a level of protection for personal data. For the same, the
            protection for data appropriate to the nature, scope and purpose of
            processing personal data, the risks associated with such processing,
            the likelihood and severity of the harm that may result from such
            processing. The transfer of personal data between your end device
            and us is carried out via best-in-class encryption protocols.
          </p>
          <h5>X. Period of storage of the Data</h5>
          <p>
            Choice Finserv will keep the Data collected about you for as long as
            required for the purposes set out above or even beyond the expiry of
            Choice Finserv’s transactional or account-based relationship with
            you which may extend for the period of 10 years. The data can be
            stored for longer period if (a)as required to comply with any legal
            and regulatory obligations to which we are subject, or (b) for
            establishment, exercise or defence of legal claims.
          </p>
          <h5>XI. Data Retention</h5>
          <p>
            We shall retain the information you provide to facilitate your
            smooth and uninterrupted use of the App, and (i) to provide, improve
            and personalize our Services; (ii) to contact you about your account
            and give customer service; (iii) to personalize our advertising and
            marketing communications; and (iv) to prevent, detect, mitigate, and
            investigate fraudulent or illegal activities. We do not retain your
            personal data for longer than required for the purpose for which the
            information may be lawfully used.
          </p>
          <h5>XII. Destruction of Documents</h5>
          <p>
            After the expiry of the statutory retention period, the preserved
            documents may be destroyed in such mode under any instructions
            approved by the department head(s). Destruction of documents as a
            normal administrative practice will also be followed for the records
            which are duplicate/ unimportant/ irrelevant. This applies to both
            Physical and Electronic Documents. Periodically destruction of
            documents can be undertaken with the approval of HOD of the
            concerned department.
          </p>
          <h5>XIII. Third-Party Links and Content on our Services</h5>
          <p>
            Our Services may link to third-party websites and services that are
            outside our control. Further, the Company, its affiliates, and their
            directors and employees accept no liability and will not be liable
            for any loss or damage arising directly or indirectly (including
            special, incidental or consequential, punitive, or exemplary loss,
            damage or expenses) from your use of any mobile application or any
            site or inability to use by any party, howsoever arising, and
            including any loss, damage or expense arising from, but not limited
            to, any defect, error, omission, interruption, imperfection, fault,
            mistake or inaccuracy with any mobile or online application, its
            Contents (material, information, data, money market movements, news
            items, etc.) or associated services, or due to unavailability of any
            application or any part thereof or any Contents or associated
            services even if the Company is advised of the possibility of such
            damages, losses or expenses.
          </p>
          <h5>XIV. Intellectual Property Rights</h5>
          <p>
            Please note that “Choice Finserv” retains all rights (including
            copyrights, trademarks, patents as well as any other intellectual
            property right) in relation to all information provided on or via
            this website (including all texts, graphics and logos). Except as
            permitted by the company, user shall have no right to use any of the
            Company IP rights and user shall be fully responsible for loss or
            damage suffered by the company for unauthorised use of IP rights.
          </p>
          <h5>XV. Consent</h5>
          <p>
            You consent to the collection and use of the information you
            disclose to “Choice Finserv” in accordance with this Privacy Policy,
            including but not limited to your consent for sharing your
            information as per this Privacy Policy.
          </p>
          <h5>XVI. Disclaimer</h5>
          <p>
            Kindly note that “Choice Finserv” do not collect personal
            information about individuals except when such individuals
            specifically provide such information voluntarily. Upon such
            voluntary disclosure of personal information, we may further verify,
            collate or receive information about you from publicly and
            commercially available sources (as permitted by law), which we may
            combine with other information we receive from you. We may also
            receive information about you from third-party social networking
            services if you are already connected with those services. The
            Company shall, at all times, ensure to implement reasonable security
            practices and procedures (such as managerial, operational, physical
            and technical) for the purpose of protection and safeguarding of
            your personal data and information as the same is of vital
            importance to the Company. At “Choice Finserv “, we are strongly
            committed to protecting the personal and financial information that
            you submit to us. Personal information of individual users will not
            be sold or otherwise transferred to unaffiliated third parties
            without your approval at the time of collection. However, please
            note that although we take reasonable steps to protect your
            information, no website, internet transmission, computer system or
            wireless connection is completely secure.
          </p>
          <p>
            “Choice Finserv” shall ensure to safeguard the security and
            confidentiality of any information you share with us. Any of your
            personally identifiable information obtained by us shall not be used
            or shared other than for the purposes to which you consent. However,
            despite our utmost efforts to protect your personal information,
            “Choice Finserv” cannot warrant the security of any information you
            transmit to us through our online services/ applications. By
            accepting this Privacy Policy, you accept that such transmission of
            your personal information is done at your own risk.
          </p>
          <p>
            Your information/inputs/queries as a registered user are required to
            serve you better and the same shall not be shared with anyone
            without your consent. Your aforesaid information may be further used
            for assessment and analysis of our market, customers, products, and
            services and to understand the way people use our Services so that
            we can improve them and develop new products and services. However,
            it shall be on the basis that the agents are required to keep the
            information confidential and will not use the information for any
            other purpose other than to carry out the services they are
            performing for “Choice Finserv” and our affiliates.
          </p>
          <h5>XVII. No contractual obligation</h5>
          <p>
            Please note that this Privacy Policy does not create any contractual
            or other legal rights on or on behalf of any party, nor is it
            intended to do so.
          </p>
          <h5 align="center"><u>APPENDIX- 1</u></h5>
          <p>
            Details of the third parties we share your personal information with
            are set out below:
          </p>
          <table>
            <tr>
              <td>
                <p><strong>S.NO</strong></p>
              </td>
              <td>
                <p><strong>NAME OF THIRD PARTY</strong></p>
              </td>
              <td>
                <p><strong>ADDRESS</strong></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>1</strong></p>
              </td>
              <td>
                <p>Choice Equity Broking Private Limited</p>
              </td>
              <td>
                <p>
                  Sunil Patodia Tower, Plot No. 156-158 J.B. Nagar, Andheri
                  (East) Mumbai Mumbai City MH 400099
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>2</strong></p>
              </td>
              <td>
                <p>Central Depository Services (India) Limited</p>
              </td>
              <td>
                <p>
                  Unit No. A-2501, Marathon Futurex, Mafatlal Mills Compound,
                  N.M. Joshi Marg, Lower Parel (E) Mumbai Mumbai City MH 400013
                  IN
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>3</strong></p>
              </td>
              <td>
                <p>Computer Age Management Services Limited</p>
              </td>
              <td>
                <p>
                  NEW NO.10, OLD NO.178, M.G.R.SALAI, NUNGAMBAKKAM CHENNAI
                  Chennai TN 600034 IN
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>4</strong></p>
              </td>
              <td>
                <p>
                  CKYC - Central Registry of Securitisation Asset Reconstruction
                  and Security Interest of India
                </p>
              </td>
              <td>
                <p>
                  Tower – 1, Office Block, 4th Floor, Plate-A, (Adjacent to Ring
                  Road), NBCC, Kidwai Nagar East, New Delhi –110023
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>5</strong></p>
              </td>
              <td>
                <p>NSDL E-Governance Account Aggregator Limited</p>
              </td>
              <td>
                <p>
                  Times Tower, 1st Floor, Kamala Mills Compound,Senapati Bapat
                  Marg,Lower Parel Mumbai Mumbai City MH 400013 IN
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>6</strong></p>
              </td>
              <td>
                <p>Razorpay Software Private Limited</p>
              </td>
              <td>
                <p>
                  1st Floor, SJR Cyber, 22 Laskar Hosur Road, Adugodi Bangalore
                  Bangalore KA 560030 IN
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>7</strong></p>
              </td>
              <td>
                <p>AU Small Finance Bank</p>
              </td>
              <td>
                <p>
                  19-A, Dhuleshwar Garden, Ajmer Road, Jaipur – 302001,
                  Rajasthan
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
