<script
  type="text/javascript"
  src="/assets/lms/js/jquery-3.6.0.min.js"
></script>
<!-- The Modal -->
<div
  class="modal fade common-modal"
  id="apply-now-pop"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Apply Now</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <img src="/assets/lms/images/close-bt.png" />
      </button>
      <div class="modal-body">
        <form
          class="fw placeholder_txt"
          name="apply-now-forum"
          id="apply-now-forum"
        >
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>First Name</span>
                <input type="text" name="first_name" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Last Name</span>
                <input type="text" name="last_name" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Email</span>
                <input type="email" name="emailss" class="required" />
              </label>
            </div>
          </div>
          <div class="form_group">
            <div class="form_control">
              <label>
                <span>Mobile</span>
                <input
                  type="tel"
                  minlength="10"
                  maxlength="10"
                  name="mobiles"
                  class="required number"
                  id="numloc"
                />
              </label>
            </div>
          </div>
          <div class="fw text-center mt-5">
            <button
              type="button"
              name="button"
              value="Submit"
              onclick="applyNow1()"
              class="applybtn"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function applyNow1() {
    var first_name = $('[name="first_name"]').val();
    var last_name = $('[name="last_name"]').val();
    var emails = $('[name="emailss"]').val();
    var mobile = $('[name="mobiles"]').val();
    var regEx =
      /^[A-Za-z0-9][A-Za-z0-9._%+-]{0,63}@(?:[A-Za-z0-9-]{1,63}\.){1,125}[A-Za-z]{2,63}$/;
    var validEmail = regEx.test(emails);
    if (
      !(first_name == "") &&
      !(last_name == "") &&
      !(emails == "") &&
      !(mobile == "")
    ) {
      if (!isNaN(mobile) && !(mobile.length < 10) && validEmail) {
        $.get(
          "/api/method/lms.www.home.applyNow",
          {
            first_name: first_name,
            last_name: last_name,
            emails: emails,
            mobile: mobile,
          },
          alert(
            "{{ _('Thank you!! To begin your exciting journey on spark.loans, please check your email.') }}"
          )
        );
        $(".modal").removeClass("in");
        $(".modal").attr("aria-hidden", "true");
        $(".modal").css("display", "none");
        $(".modal-backdrop").remove();
        $("body").removeClass("modal-open");
        $(":input").val("");
      } else {
        alert("Please provide required details.");
      }
    }
  }
</script>
