<script
  type="text/javascript"
  src="/assets/lms/js/jquery-3.6.0.min.js"
></script>

<!-- schemes Modal-->
<div
  class="modal modalright fade"
  id="schemes"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <img src="/assets/lms/images/close-bt.png" />
      </button>
      <div class="modal-body schemesContent">
        <div class="d-flex justify-content-between">
          <h3>Schemes</h3>
          <div class="Schemeslogo">
            <img
              src="/assets/lms/images/home/partners/choice.svg"
              width="120"
            />
          </div>
        </div>
        <div class="schemestab">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="Loan-tab"
                data-toggle="tab"
                href="#Loan"
                role="tab"
                aria-controls="Loan"
                aria-selected="true"
              >
                <span class="loantitle">Loan Amount</span>
                <span class="amt"
                  >Upto
                  <img
                    src="/assets/lms/images/rs.svg"
                    class="rs2"
                    width="12"
                  />5 lakhs</span
                >
              </a>
            </li>
            <li class="nav-item" style="display: none">
              <a
                class="nav-link"
                id="Loan2-tab"
                data-toggle="tab"
                href="#Loan2"
                role="tab"
                aria-controls="Loan2"
                aria-selected="false"
              >
                <span class="loantitle">Loan Amount</span>
                <span class="amt"
                  >More than
                  <img
                    src="/assets/lms/images/rs.svg"
                    class="rs2"
                    width="12"
                  />20 lakhs</span
                >
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="Loan"
              role="tabpanel"
              aria-labelledby="Loan-tab"
            >
              <div class="schemestext">
                <div class="d-flex justify-content-between">
                  <h5>Loan Amount</h5>
                  <div class="amount">
                    <h6>
                      <img
                        src="/assets/lms/images/rs-green.svg"
                        class="rs2"
                        width="12"
                      />5,00,000
                    </h6>
                  </div>
                </div>
                <h5>Interest Payment Period</h5>
                <div id="no-more-tables">
                  <table
                    class="table table-bordered table-condensed cf tablePayment"
                  >
                    <thead class="cf">
                      <tr>
                        <th>Days (Due date)</th>
                        <th class="text-right">Rebate</th>
                        <th class="text-right">Monthly Rate</th>
                        <th class="text-right" style="display: none">
                          Monthly Rate
                          <a href="#">
                            <img
                              src="/assets/lms/images/i.svg"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Portfolio containing D category and below"
                            />
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left" data-title="Days (Due date)">
                          <span class="after"> After 7 days </span>
                        </td>
                        <td data-title="Rebate">Nil</td>
                        <td data-title="Monthly Rate">1.44%</td>
                        <td data-title="Monthly Rate" style="display: none">
                          <div class="tooltipmob">
                            <a href="#">
                              <img
                                src="/assets/lms/images/i.svg"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Portfolio containing D category and below"
                              />
                            </a>
                          </div>
                          1.64%
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left" data-title=" Days (Due date)">
                          <span class="within"> Within 7 days </span>
                        </td>
                        <td data-title="Rebate">0.20%</td>
                        <td data-title="Monthly Rate" class="green">1.24%</td>
                        <td
                          data-title="Monthly Rate"
                          style="display: none"
                          class="green"
                        >
                          <div class="tooltipmob">
                            <a href="#">
                              <img
                                src="/assets/lms/images/i.svg"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Portfolio containing D category and below"
                              />
                            </a>
                          </div>
                          1.44%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h5 class="mt-4">Apply Now</h5>
                <div class="switch">
                  <label class="active" for="switch-id">Mobile</label>
                  <input type="checkbox" class="switch" id="switch-id" />
                  <label for="switch-id">Email</label>
                </div>
                <div class="applymobile">
                  <form class="fw placeholder_txt" name=" " id="apply-mobile">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form_group">
                          <div class="form_control">
                            <label>
                              <span>Mobile</span>
                              <input
                                type="tel"
                                name="mobile"
                                class="required"
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="fw text-right mt-4">
                          <!-- <button type="submit" class="applybtn applybtn2"><span>Quick Apply</span><span>&nbsp;</span></button> -->
                          <a href="/comingsoon" class="applybtn applybtn2"
                            ><span>Quick Apply</span><span>&nbsp;</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="applyemail">
                  <form class="fw placeholder_txt" name=" " id="apply-Email">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form_group">
                          <div class="form_control">
                            <label>
                              <span>Email</span>
                              <input
                                type="email"
                                name="email"
                                class="required"
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="fw text-right mt-4">
                          <!-- <button type="submit" class="applybtn applybtn2"><span>Quick Apply</span><span>&nbsp;</span></button> -->
                          <a href="/comingsoon" class="applybtn applybtn2"
                            ><span>Quick Apply</span><span>&nbsp;</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="Loan2"
              role="tabpanel"
              aria-labelledby="Loan2-tab"
            >
              <div class="schemestext">
                <div class="d-flex justify-content-between">
                  <h5>Loan Amount</h5>
                  <div class="amount">
                    <h6>
                      <img
                        src="/assets/lms/images/rs-green.svg"
                        class="rs2"
                        width="12"
                      />80,00,000
                    </h6>
                  </div>
                </div>
                <h5>Interest Payment Period</h5>
                <div id="no-more-tables">
                  <table
                    class="table table-bordered table-condensed cf tablePayment"
                  >
                    <thead class="cf">
                      <tr>
                        <th>Days (Due date)</th>
                        <th class="text-right">Rebate</th>
                        <th class="text-right">Monthly Rate</th>
                        <th class="text-right">
                          Monthly Rate
                          <a href="#">
                            <img
                              src="/assets/lms/images/i.svg"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Portfolio containing D category and below"
                            />
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left" data-title="Days (Due date)">
                          <span class="after"> After 7 days </span>
                        </td>
                        <td data-title="Rebate">Nil</td>
                        <td data-title="Monthly Rate">1.44%</td>
                        <td data-title="Monthly Rate">
                          <div class="tooltipmob">
                            <a href="#">
                              <img
                                src="/assets/lms/images/i.svg"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Portfolio containing D category and below"
                              />
                            </a>
                          </div>
                          1.64%
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left" data-title=" Days (Due date)">
                          <span class="within"> Within 7 days </span>
                        </td>
                        <td data-title="Rebate">0.20%</td>
                        <td data-title="Monthly Rate" class="green">1.24%</td>
                        <td data-title="Monthly Rate" class="green">
                          <div class="tooltipmob">
                            <a href="#">
                              <img
                                src="/assets/lms/images/i.svg"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="Portfolio containing D category and below"
                              />
                            </a>
                          </div>
                          1.44%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h5 class="mt-4">Apply Now</h5>
                <div class="switch">
                  <label class="active" for="switch-id">Mobile</label>
                  <input type="checkbox" class="switch" id="switch-id" />
                  <label for="switch-id">Email</label>
                </div>
                <div class="applymobile">
                  <form class="fw placeholder_txt" name=" " id="apply-mobile">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form_group">
                          <div class="form_control">
                            <label>
                              <span>Mobile</span>
                              <input
                                type="tel"
                                name="mobile"
                                class="required"
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="fw text-right mt-4">
                          <button type="submit" class="applybtn applybtn2">
                            <span>Quick Apply</span><span>&nbsp;</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="applyemail">
                  <form class="fw placeholder_txt" name=" " id="apply-Email">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form_group">
                          <div class="form_control">
                            <label>
                              <span>Email</span>
                              <input
                                type="email"
                                name="email"
                                class="required"
                              />
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="fw text-right mt-4">
                          <button type="submit" class="applybtn applybtn2">
                            <span>Quick Apply</span><span>&nbsp;</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modalright fade"
  id="comingsoon"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <img src="/assets/lms/images/close-bt.png" />
      </button>
      <div class="modal-body schemesContent">
        <div class="d-flex justify-content-between">
          <h3>Schemes</h3>
          <div class="Schemeslogo">
            <img
              src="/assets/lms/images/home/partners/choice.svg"
              width="120"
            />
          </div>
        </div>

        <!-- 9 page screen hide-->
        <div
          class="comingsoon d-flex justify-content-center align-items-center"
        >
          <div class="text-center">
            <img src="/assets/lms/images/chronometer.svg" />
            <h4>Coming Soon...</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $("#switch-id").change(function () {
      if ($(this).is(":checked")) {
        $(".applyemail").show();
        $(".applymobile").hide();
      } else {
        $(".applyemail").hide();
        $(".applymobile").show();
      }
    });
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
